<div class="content-container" ng-controller="CreateMrnController">
   <div>
        <ul class="breadcrumb">
          <li><a href="#/inventory" ng-click="selectedMRN()">{{'link.admin.inventory' | translate}}</a></li>
          <li class="active">{{'label.create.add.mrn' | translate}}</li>
        </ul>
   </div>
     <div class="card">
    	<div class="content">
             <div class="toolbar">
    			<h4>{{'label.heading.creatematerialtransfer' | translate}}</h4>
    		</div>
           <br>   
		      <form name="createMRNForm" novalidate="" class="form-horizontal" rc-submit="submit()">
		      <api-validate></api-validate>
		        <fieldset>
					<div class="form-group">
  						<label class="control-label col-sm-2" for="requestedDate">{{'label.requestdate' | translate }}&nbsp;<span 
  							class="required">*</span></label>
 						<div class="col-sm-3">
   							<input type="text" class="form-control" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="minDate" max="maxDate" 
   							date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
 						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="fromOffice">{{'label.fromoffice' | translate }}&nbsp;<span 
   							class="required">*</span></label>
						<div class="col-sm-3">
						 <input type="text"  
				            		placeholder="Enter Office Code"
				            		data-ng-model="formData.fromOffice" 
				            		name="serialNumber" 
				            		class="form-control"
									uib-typeahead=" officeDatas.externalId as groupByOffice(officeDatas.externalId, officeDatas.name) for officeDatas in getData($viewValue)" 
									autocomplete="off" data-typeahead-min-length="0"> 
						
							<!-- <select id="fromOffice" class="form-control" ng-model="formData.fromOffice"
								ng-options="officeData.id as officeData.nameDecorated for officeData in officeDatas"
								value="{{officeData.id}}">
							</select> -->
						</div>
   						<label class="control-label col-sm-2" for="toOffice">{{'label.tooffice' | translate }}&nbsp;<span 
   							class="required">*</span></label>
						<div class="col-sm-3">
						 <input type="text"  
				            		placeholder="Enter Office Code"
				            		data-ng-model="formData.toOffice" 
				            		name="serialNumber" 
				            		class="form-control"
									uib-typeahead=" officeDatas.externalId as groupByOffice(officeDatas.externalId, officeDatas.name) for officeDatas in getData($viewValue)" 
									autocomplete="off" data-typeahead-min-length="0"> 
						
							<!-- <select class="form-control" id="toOffice" ng-model="formData.toOffice"
								ng-options="officeData.id as officeData.nameDecorated for officeData in officeDatas"
								value="{{officeData.id}}">
							</select> -->
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="itemDescription">{{'label.item' | translate }}&nbsp;<span 
   							class="required">*</span></label>
						<div class="col-sm-3">
							<select id="itemDescription" class="form-control" ng-model="formData.itemDescription"
									ng-options="itemMasterData.id as getbothitem(itemMasterData.id, itemMasterData.itemCode) for itemMasterData in itemMasterDatas"
									value="{{itemMasterData.itemId}}">
									<option value="">{{'label.select.one' | translate}}</option>
							</select>
						</div>
						<label class="control-label col-sm-2" for="orderdQuantity">{{'label.orderedquantity' | translate }}&nbsp;<span 
							class="required">*</span></label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="orderdQuantity" name="orderdQuantity" name="orderdQuantity" 
								ng-model="formData.orderdQuantity" data-ng-pattern="/^[0-9]/"></br>
							<span data-ng-show="createMRNForm.orderdQuantity.$dirty && createMRNForm.orderdQuantity.$invalid">
								<small class="error" data-ng-show="createMRNForm.orderdQuantity.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
							</span>
						</div>
					</div>
		            <div class="col-md-offset-9">
		            	<a href="#/inventory"><button id="cancel" type="reset" class="btn" ng-click="reset123()">{{'button.cancel' | translate}}</button></a>
		            	<button id="save" type="submit" data-ng-disabled="createMRNForm.$dirty && createMRNForm.$invalid" class="btn btn-primary">{{'label.save' | translate}}</button>
		           </div>
		          
		        </fieldset>
		      </form>
      	</div>
     </div>
 </div>