<div class="content-container" ng-controller="ViewProspectsController">
	<ul class="breadcrumb">
		<li>
			<a href="#/leads">{{'link.prospects' | translate}}</a>
			<span class="divider"></span>
		</li>
		<li class="active">{{prospects.firstName}}&nbsp{{prospects.lastName}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{plan.ViewPlan}}</h4>
				<div class="pull-right">
					<div class="btn-group">	
						<a href="#/followprospects/{{prospects.id}}" data-ng-show="getVal(prospects.status)"
						   has-permission = UPDATE_PROSPECT class="btn btn-primary"><i class="fa fa-edit"></i> {{'label.prospects.followup' | translate}} </a> 
						<a data-ng-click="convertProspect()" data-ng-show="(getVal(prospects.status))"
						   has-permission = "CONVERT_PROSPECT && CREATE_CLIENT" class="btn btn-primary"><i class="fa fa-edit"></i> {{'label.prospects.convert' | translate}} </a> 
						<a href="#/editprospects/{{prospects.id}}" data-ng-show="getVal(prospects.status)"
						   has-permission = EDIT_PROSPECT class="btn btn-primary"><i class="fa fa-edit"></i> {{'label.prospects.edit' | translate}} </a> 
						<a href="#/cancelprospects/{{prospects.id}}" data-ng-show="getVal(prospects.status)" 
						   has-permission = DELETE_PROSPECT class="btn btn-primary"><i class="fa fa-trash-o"></i> {{'label.prospects.cancel' | translate}}</a>
					</div>
				</div>
			</div>
			<br/>
				<div class="row">
					<div class="col-md-6">
						<table class="table table-bordered table-striped">
							<tr>
								<td>{{ 'label.name' | translate }}</td>
								<td>{{prospects.firstName}}&nbsp{{prospects.lastName}}</td>
							</tr>
							<tr>
								<td>{{ 'label.emailId' | translate }}</td>
								<td>{{prospects.email}}</td>
							</tr>
							<tr>
								<td>{{ 'label.phonenumber' | translate }}</td>
								<td>{{prospects.mobileNumber}}</td>
							</tr>
							<tr>
								<td>{{ 'label.address' | translate }}</td>
								<td>{{prospects.address}}&nbsp{{prospects.streetArea}}&nbsp{{prospects.cityDistrict}}&nbsp{{prospects.state}}&nbsp{{prospects.country}}</td>
							</tr>
							<tr>
								<td>{{ 'label.note' | translate }}</td>
								<td>{{prospects.note}}</td>
							</tr>
							<tr>
								<td>{{ 'label.status' | translate }}</td>
								<td>{{prospects.status}}</td>
							</tr>
						</table>
						<h3>&nbsp;&nbsp;&nbsp;History Data</h3>
						<table class="table">
							<thead>
								<tr class="graybg">
								    <th>{{ 'table.heading.callstatus' | translate }}</th>
								    <th>{{ 'table.heading.nextcall' | translate }}</th>
								    <th>{{ 'table.heading.note' | translate }}</th>
								    <th>{{ 'table.heading.assignedto' | translate }}</th>
						        </tr>
				            </thead>
				            <tbody>
						        <tr
							      data-ng-repeat="prospectDetailData in prospectDetailData | filter:filterText">
								   <td>{{prospectDetailData.callStatus}}</td>
								   <td>{{prospectDetailData.nextTime}}</td>
								   <td>{{prospectDetailData.notes}}</td>
								   <td>{{prospectDetailData.assignedTo}}</td>
						       </tr>
				           </tbody>
		               </table>
					</div>
				</div>		
		</div>
	</div>
</div>