<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.anchor.masters' | translate}}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                    	<a class="list-group-item" href="#/addressmanage" has-permission='READ_LOCATION'>
                            <h4 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;
                            {{'label.anchor.addressmaster' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.managegeographicaladdressheirarchy' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                            <h4 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;
                            {{'label.anchor.organization' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.addnewofficeormodifyordeactivateofficeormodifyofficeheirarchy'
                                | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/referal">
                            <h4 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;
                            {{'label.anchor.referalmaster' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.addnewreferalormodifyordeactivatereferalormodifyreferalheirarchy'
                                | translate}}</p>
                        </a>
                        <!-- <a class="list-group-item" href="#/holidays" has-permission='READ_HOLIDAY'>
                            <h4 class="list-group-item-heading"><i class="fa fa-calendar fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageholidays'
                                | translate}}</h4>
                            <p class="list-group-item-text">{{'label.defineholidaysforoffices' | translate}}</p>
                        </a> -->
                        <a class="list-group-item" href="#/employees" has-permission='READ_STAFF'>
                            <h4 class="list-group-item-heading"><i class="fa fa-user fa fa-large"></i>&nbsp;&nbsp;
                           	 {{'label.anchor.manageemployees' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.aemployeerepresentsloanofficerswithnoaccesstosystem' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/property" has-permission='READ_PROPERTY'>
		      			   <h4 class="list-group-item-heading"><i class="fa fa-sitemap fa fa-large"></i>&nbsp;&nbsp;Property Definition</h4>
		                   <p class="list-group-item-text">Define Property masters </p>
		    			</a>
                        <!-- <a class="list-group-item" href="#/standinginstructions/history" has-permission='READ_STANDINGINSTRUCTION'>
                            <h4 class="list-group-item-heading"><i class="fa fa-book fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.standinginstruction.history' | translate}}</h4>

                            <p class="list-group-item-text">{{'label.view.standinginstructions.history.logging' |
                                translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/advsearch">
                            <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-money"></i>&nbsp;&nbsp;
                                {{'label.anchor.fund.mapping' | translate}}</h4>

                            <p class="list-group-item-text">{{'label.view.advance.search.fund.mapping' |
                                translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/passwordpreferences" has-permission='READ_PASSWORD_VALIDATION_POLICY'>
                            <h4 class="list-group-item-heading"><i class="fa fa-lock fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.passwordPreferences' | translate}}</h4>

                            <p class="list-group-item-text">{{'label.view.passwordPreferences' |
                                translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/viewallprovisionings" has-permission='VIEW_PROVISIONS'>
                            <h4 class="list-group-item-heading"><i class="fa fa-pencil fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.createprovisioningcriteria' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.view.createprovisioningcriteria' | translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/entitydatatablechecks" has-permission='READ_ENTITY_DATATABLE_CHECK'>
                            <h4 class="list-group-item-heading"><i class="fa fa-check fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.entitydatatablechecks' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.view.entitydatatablechecks' | translate}}</p>
                        </a> -->
	    				<a class="list-group-item" href="#/groupsDetails" has-permission ='READ_GROUPSDETAILS'>
	      					<h4 class="list-group-item-heading"><i class="fa fa-gift fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.closedusergroup' | translate}}</h4>
	      					<p class="list-group-item-text">{{'label.managecuginnformation' | translate}}</p>
	    				</a>
	    				
	      				<!-- <a class="list-group-item" href="#/mediadetails">
	      					<h4 class="list-group-item-heading"><i class="fa fa-film"></i>&nbsp;&nbsp;Media Details</h4>
	      					<p class="list-group-item-text">Manage various Media Asset Information</p>
	    				</a> -->
	    				<!-- <a class="list-group-item" href="#/event">
	      					<h4 class="list-group-item-heading"><i class="fa fa-eye fa fa-large"></i>&nbsp;&nbsp;Event & Pricing</h4>
	      					<p class="list-group-item-text">Define the Media Asset and it's Pricing</p>
	    				</a> -->
	    				<a class="list-group-item" href="#/message" has-permission ='READ_MESSAGE'>
	      			  		<h4 class="list-group-item-heading"><i class="fa fa-book fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.messagetemplate' | translate}}</h4>
	      					<p class="list-group-item-text">{{'label.definethemessagetemplates' | translate}}</p>
	    			 	</a>
	    				<a class="list-group-item" href="#/broadcasterchannelmapping" has-permission ='READ_BROADCASTERCHANNELMAPPING'>
	     				   <h4 class="list-group-item-heading"><i class="fa fa-eye fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.broadcasterchannelmapping' | translate}}</h4>
	      				   <p class="list-group-item-text">{{'label.definebroadcasterchannelmapping' | translate}}</p>
	  				   </a>
	  				   <a class="list-group-item" href="#/voucherpins" has-permission ='READ_RANDAMGENERATOR'>
	      					<h4 class="list-group-item-heading"><i class="fa fa-gift fa fa-large"></i>&nbsp;&nbsp;Voucher Pins</h4>
	      					<p class="list-group-item-text">Generate Voucher Pins for Redemption</p>
	    			   </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/contract" has-permission ='READ_CONTRACT'>
	      					<h4 class="list-group-item-heading"><i class="fa fa-calendar fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.contractperiod' | translate}}</h4>
	      					<p class="list-group-item-text">{{'label.defineordercontractperiod' | translate}}</p>
	    				</a>
	    				<a class="list-group-item" href="#/chargecode" has-permission ='READ_CHARGECODE'>
	                        <h4 class="list-group-item-heading"><i class=" fa fa-th-list fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.chargecode&taxmapping' | translate}}</h4>
	      					<p class="list-group-item-text">{{'label.definethebillingchargecodes' | translate}}</p>
	      				</a>
	      				<a class="list-group-item" href="#/discounts" has-permission= "(READ_DISCOUNT,READ_PROMOTIONCODE)">
	      				  <h4 class="list-group-item-heading"><i class="fa fa-tags fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.discount&promotions' | translate}}</h4>
	      				   <p class="list-group-item-text">{{'label.managediscountandpromotiondefinitions' | translate}}</p>
	      			    </a>
	      			    <a class="list-group-item" href="#/regions" has-permission ='READ_REGIONS'>
	      					<h4 class="list-group-item-heading"><i class="fa fa-globe fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.priceregion' | translate}}</h4>
	      					<p class="list-group-item-text">{{'label.definetheregionforpricevariations' | translate}}</p>
	      				</a>
                        <!-- <a class="list-group-item" href="#/currconfig" has-permission='READ_CURRENCY'>
                            <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-cogs"></i>&nbsp;&nbsp;{{'label.anchor.currencyconfig'
                                | translate}}</h4>

                            <p class="list-group-item-text">{{'label.currenciesavailableacrossorganizationfordifferentproducts' |
                                translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/managefunds" has-permission='READ_FUND'>
                            <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-money"></i>&nbsp;&nbsp;{{'label.anchor.managefunds'
                                | translate}}</h4>

                            <p class="list-group-item-text">{{'label.fundsareassociatedwithloans' | translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/bulkloan" has-permission='BULKREASSIGN_LOAN'>
                            <h4 class="list-group-item-heading"><i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;{{
                                'label.anchor.bulkloanreassignment' | translate}}</h4>

                            <p class="list-group-item-text">{{'label.easywaytoreassignalltheloanfromonelotoanotherlo' |
                                translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/tellers" has-permission='READ_TELLER'>
                            <h4 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.tellercashmanagement' | translate}}</h4>

                            <p class="list-group-item-text">{{'label.view.tellercashmanagement' |
                                translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/workingdays" has-permission='READ_WORKINGDAYS'>
                            <h4 class="list-group-item-heading"><i class="fa fa-calendar fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.workingDays' | translate}}</h4>

                            <p class="list-group-item-text">{{'label.view.workingDays' |
                                translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/viewpaymenttype" has-permission='READ_PAYMENTTYPE'>
                            <h4 class="list-group-item-heading"><i class="fa fa-dollar fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.paymentTypes' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.view.paymentTypes' |
                                translate}}</p>
                        </a> -->
                        <!-- <a class="list-group-item" href="#/smscampaigns" has-permission='VIEW_SMSCAMPAIGNS'>
                            <h4 class="list-group-item-heading"><i class="fa fa-envelope fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.smscampaings' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.view.smscampaigns' | translate}}</p>
                        </a> -->
						 <!-- <a class="list-group-item" href="#/adhocquery" has-permission='VIEW_ADHOC'>
						<h4 class="list-group-item-heading"><i class="fa fa-large fa fa-double-angle-right"></i>&nbsp;&nbsp;
							{{'label.anchor.adhoc' | translate}}</h4>
						<p class="list-group-item-text">{{'label.view.adhocs' | translate}}</p>
						</a> -->
						
						<a class="list-group-item" href="#/services" has-permission ='READ_SERVICES'>
	                        <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-cogs"></i>&nbsp;&nbsp;{{'label.anchor.services&products' | translate}}</h4>
	                         <p class="list-group-item-text">{{'label.definevarioustypesofservices' | translate}}</p>
	                    </a>
						 <a class="list-group-item" href="#/plans" has-permission ='READ_PLANS'>
	                     <h4 class="list-group-item-heading"><i class="fa fa-certificate fa fa-large"></i>&nbsp;&nbsp;
	                          {{'label.planandpricing' | translate}}</h4>
	                     <p class="list-group-item-text">{{'label.defineplansforcustomersservice' | translate}}</p>
	                   </a> 
	    			 	<a class="list-group-item" href="#/mediadetailseventpricing" has-permission ='READ_MEDIADETAILSEVENTPRICING'>
	      					<h4 class="list-group-item-heading"><i class="fa fa-film"></i>&nbsp;&nbsp;{{'label.anchor.mediadetails&event&pricing' | translate}}</h4>
	      					<p class="list-group-item-text">{{'label.managevariousmediaassetinformation' | translate}}</p>
	    				</a>
	    				<!-- <a class="list-group-item" href="#/salescataloges" has-permission ='READ_SALESCATALOGES'>
	      					<h4 class="list-group-item-heading"><i class="fa fa-film"></i>&nbsp;&nbsp;{{'label.anchor.salescataloge' | translate}}</h4>
	      					<p class="list-group-item-text">{{'label.definesalescataloge' | translate}}</p>
	    				</a>
	    				<a class="list-group-item" href="#/usercataloge" has-permission ='READ_USERCATALOGE'>
	      					<h4 class="list-group-item-heading"><i class="fa fa-film"></i>&nbsp;&nbsp;{{'label.anchor.usercataloge' | translate}}</h4>
	      					<p class="list-group-item-text">{{'label.defineusercataloge' | translate}}</p>
	    				</a> -->
	    				<a class="list-group-item" href="#/catalogemapping" has-permission ='READ_CATALOGEMAPPING'>
	     				   <h4 class="list-group-item-heading"><i class="fa fa-eye fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.catalogemapping' | translate}}</h4>
	      				   <p class="list-group-item-text">{{'label.definecatalogemapping' | translate}}</p>
	  				   </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
