<div class="content-container" ng-controller="EditUserCatalogeController">
	<ul class="breadcrumb">
		<li>
			<a href="#/organization">{{'label.anchor.masters' | translate}}</a>
			<span class="divider"></span>
		</li>
		<li>
			<a href="#/catalogemapping">{{'label.catalogemapping' | translate}}</a> 
			<span class="divider"></span> 
		</li>
		<li class="active">{{'label.editusercataloge' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.editusercataloge' | translate}}</h4>
			</div>
			<hr>
			<form name="editusercatalogeform" novalidate="" class="form-horizontal" rc-submit="submit()">
				<api-validate></api-validate>
				<fieldset>
					<div class="form-group">
				    	<label class="control-label col-sm-2" for="userId">{{'label.createusercataloge.userid'| translate }}&nbsp;<span class="required">*</span></label>
						<div class="col-sm-3">
							<select id="userId" ng-model="formData.userId" ng-options="appUserData.id as appUserData.username for appUserData in appUserDatas" class="form-control">
							</select> 
					    </div>
			    	</div>
			    	<!-- <div class="form-group">
			     		<label class="control-label col-sm-2" for="catalogeId">{{'label.createusercataloge.catalogeId'| translate }}&nbsp;<span class="required">*</span></label>
				  		<div class="col-sm-3">
					   		<select id="catalogeId" ng-model="formData.catalogeId" ng-options="salesCatalogeData.id as salesCatalogeData.name for salesCatalogeData in salesCatalogeDatas" class="form-control">
					   		</select> 
			      		</div>
	 				</div> -->
	 				
	 				<div class="form-group">
						<div class="col-sm-3 col-md-3 col-md-offset-2">
		                <label class="control-label col-sm-9">{{ 'label.availablesalescataloge' | translate }}</label>
			                <select id="availablesalescataloges" ng-model="allowed" name="allowed" class="form-control multiselectmin" multiple >
			               		<option data-ng-repeat="availableSalesCataloge in availableSalesCataloges" value="{{availableSalesCataloge.id}}">{{availableSalesCataloge.name}}</option>
			                </select>
		                </div>
	               		
				        <div class="col-sm-1 col-md-1 paddedtop25px">
			           		<button type="button" class="btn btn-primary" data-ng-click="restrict()"><i class="fa fa-angle-double-right"></i></button><br/>
			           		<button type="button" class="btn btn-primary" data-ng-click="allow()"><i class="fa fa-angle-double-left"></i></button>
				        </div>
	               		
		   		     	<div class="col-sm-3 col-md-3">
		       			<label class="control-label col-sm-9">{{ 'label.selectedsalescataloge' | translate }}</label>
			          		<select id="selectedsalescataloges" name="selectedsalescataloges" ng-model="restricted" name="restricted" class="form-control multiselectmin" multiple  >
			              		<option data-ng-repeat="selectedSalesCataloge in selectedSalesCataloges" value="{{selectedSalesCataloge.id}}">{{selectedSalesCataloge.name}}</option>
			          		</select>
		               	</div>
					</div>
	 				
	 				<div class="col-md-offset-10 pull-right">
		           		<a href="#/catalogemapping"><button id="cancel" type="reset" class="btn" ng-click="reset123()">{{'button.cancel'| translate}}</button></a>
		           		<button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
	       			</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>