<div class="content-container" ng-controller="CreatePromotionController">
	<ul class="breadcrumb">
		<li>
			<a href="#/organization">{{'label.anchor.masters' | translate}}</a> 
			<span class="divider"></span>
		</li>
	    <li>
		    <a href="#/discounts">{{'label.managediscounts' | translate}}</a> 
		    <span class="divider"></span>
	    </li>
	    <li class="active">{{'label.createpromotioncode' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.createpromotioncode' | translate}}</h4>
			</div>
			<br> 
			<form name="createpromotionform" novalidate="" class="form-horizontal" rc-submit="submit()">
				<api-validate></api-validate>
				<div class="error" data-ng-show="errorStatus || errorDetails">
				   	<label data-ng-show="errorStatus">{{errorStatus}}</label>
				   	<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    		</div>
	    		<fieldset>
		    		<div class="form-group">
					 	<label class="control-label col-sm-2" for="promotionCode">{{ 'label.promotionCode' | translate }}<span class="required" >*</span></label>
						<div class="col-sm-3">
					    	<input type="text" id="promotionCode" class="form-control" name="promotionCode" data-ng-model="formData.promotionCode" data-ng-maxlength="{{'code' | CodeValidate}}"/></br>
					    	<span data-ng-show = "createpromotionform.promotionCode.$dirty && createpromotionform.promotionCode.$invalid">
								<small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
					    	</span>
						</div>
						
						<label class="control-label col-sm-2" for="discountType">{{ 'label.discountType' | translate }}<span class="required" >*</span></label>
		                <div class="col-sm-3">
		             		<select id="discountType" class="form-control" data-ng-model="formData.discountType"  data-ng-options="promotiondata.mCodeValue as promotiondata.mCodeValue for promotiondata in promotiondatas">
		             			<option value="">{{'label.select.one' | translate}}</option>
		             		</select>
		            	</div>
					</div>
					
					<div class="form-group">
	 					<label class="control-label col-sm-2" for="promotionDescription">{{ 'label.promotionDescription' | translate }}<span class="required" >*</span></label>
	 					<div class="col-sm-3">
	  						<input type="text" id="promotionDescription" class="form-control" data-ng-model="formData.promotionDescription"/>
						</div>
						
						<label class="control-label col-sm-2" for="discountRate">{{ 'label.discountRate' | translate }}<span class="required" >*</span></label>
	 					<div class="col-sm-3">
	   						<input type="text" id="discountRate" class="form-control" name="discountRate" data-ng-model="formData.discountRate" data-ng-pattern="{{'numeric' | CodeValidate}}"></br>
	   						<span data-ng-show="createpromotionform.discountRate.$dirty && createpromotionform.discountRate.$invalid">
	   							<small class="error-row">{{'error.not.numeric.validation' | translate}}</small>
	   						</span>
	 					</div>
					</div>
					
					<div class="form-group">
	 					<label class="control-label col-sm-2" for="durationType">{{ 'label.durationType' | translate }}<span class="required" >*</span></label>
	 					<div class="col-sm-3">
	   						<select id="durationType" data-ng-model="formData.durationType" class="form-control" data-ng-options="durationType.subscriptionType as durationType.subscriptionType for durationType in durationTypes">
	  							<option value="">{{'label.select.one' | translate}}</option>
	  						</select>
	 					</div>
	 					
	 					<label class="control-label col-sm-2" for="promotionduration">{{ 'label.duration' | translate }}<span class="required" >*</span></label>
						<div class="col-sm-3">
	  						<input type="text" id="duration" name="duration" data-ng-model="formData.duration" class="form-control" data-ng-pattern="/^[1-9][0-9]*$/"></br>
	  						<span data-ng-show="createpromotionform.duration.$dirty && createpromotionform.duration.$invalid">
								<small class="error-row" data-ng-show="createpromotionform.duration.$error.pattern">Duration should not 0 and Alphanumeric</small>
	  						</span>
						</div>
					</div>
         			
         			<div class="form-group">
	             		<label class="control-label col-sm-2">{{ 'label.startDate' | translate }}</label>
	             		<div class="col-sm-3">
		                 	<input type="text" data-datepicker-pop="dd MMMM yyyy" class="form-control" data-ng-model="start.date" data-is-open="opened2" min="minDate" 
		                 		   max="'2020-06-22'" data-date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly/>
	             		</div>
					</div>			
         			
         			<div class="col-md-offset-10 pull-right">
		            	<a href="#/discounts"><button id="cancel" type="reset" data-ng-click="reset123()" class="btn">{{'button.cancel'| translate}}</button></a>
	                    <button id="submit" type="submit" data-ng-disabled="createpromotionform.$dirty && createpromotionform.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
	          	    </div>					
	    		</fieldset>
			</form>
		</div>
	</div>
</div>