<div class="content-container" ng-controller="CommandCenterController">
	<ul class="breadcrumb">
		<li class="active">{{'label.commandcenter' | translate}}</li>
	</ul>
     <div class="card">
       	<div class="content">
			<div class="toolbar ptb15 mrl15 bb1 mb20">
				<h4>{{'label.commandcenter' | translate}}</h4>
			</div>
			<br>
	    	<form name="commandcenterform" novalidate="" class="form-horizontal" rc-submit="submit()">
			    <api-validate></api-validate>
   			    	<fieldset>
   			    	   <div class="form-group">
							<label class="control-label col-sm-2" for="status">{{ 'label.group' | translate }}</label>
		                    <div class="col-sm-3">
		                    	<select id="parentId" ng-model="officeId" class="form-control" 
										ng-options="office.id as office.name for office in offices"
    		                            value="{{office.id}}">
 		                        </select>
		                    </div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="status">{{ 'label.provisioningsystem' | translate }}</label>
		                    <div class="col-sm-3">
		                    	<!-- <select ng-model="commandId"  class="form-control" ng-change="commandCenter(commandId)"
									ng-options="commanddata.id as commanddata.commandName for commanddata in commandData" ></select> -->
		             			<select id="provisioningSystem" class="form-control"  data-ng-model="formData.provisioningSystem" data-ng-change="provisioningSystemchangefun()"
		             				data-ng-options="provisioningData.id as provisioningData.mCodeValue for provisioningData in provisioning">
		             			</select>
		                    </div>
						</div>
   			    	
						<div class="form-group" ng-if="formData.provisioningSystem">
							<label class="control-label col-sm-2" for="status">{{ 'label.provisioning.commandname' | translate }}</label>
		                    <div class="col-sm-3">
		                    	<select ng-model="commandId"  class="form-control" ng-change="commandCenter(commandId)"
									ng-options="commanddata.id as commanddata.commandName for commanddata in commandData" ></select>
		                    </div>
						</div>
						<div data-ng-repeat="commandParameter in commandParameters" class="form-group">
            				<label class="control-label col-sm-3">{{commandParameter.commandParam}}</label>
								<span>
									<div class="col-sm-3">
										<span>
											<!-- <input ng-if="commandParameter.paramType != 'Date'" type="text" data-ng-model="commandParameter.commandValue" class="form-control"/>
											<input type="text" ng-if="commandParameter.paramType == 'Date'" data-datepicker-pop="dd/MM/yyyy" id="paramValue" 
									        	class="form-control" data-ng-model="commandParameter.commandValue"  data-is-open="opened2" data-date-disabled="disabled(date, mode)" 
													style="background-color:#FFFFFF;" /> -->
				
											<input ng-if="commandParameter.paramType != 'Combo' && commandParameter.paramType != 'Boolean' && commandParameter.paramType != 'Date' && commandParameter.paramType != 'DateTime'" 
						                     		class="form-control" type="text" name="paramValue" data-ng-model="commandParameter.commandValue" 
														maxlength={{commandParameter.paramLength}}/>
						                    <select ng-if="commandParameter.paramType == 'Combo'" id="paramValue" data-ng-model="commandParameter.commandValue" 
													class="form-control" data-ng-options="detail.mCodeValue as detail.mCodeValue for detail in paramValuesData">
											</select>
											<select ng-if="commandParameter.paramType == 'Boolean'" id="paramValue" data-ng-model="commandParameter.commandValue" 
													class="form-control" data-ng-options="paramValue for paramValue in paramValues">
											</select>
											<input type="text" ng-if="commandParameter.paramType == 'Date'" class="form-control" data-datepicker-pop="dd/MM/yyyy" id="paramValue" 
													data-ng-model="commandParameter.commandValue"  data-is-open="opened2" min="minDate" max="'2020-06-22'" 
															data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;"/>
											<input type="text" ng-if="commandParameter.paramType == 'DateTime'" class="form-control" id="paramValue" 
													data-ng-model="commandParameter.commandValue"  data-is-open="opened2" min="minDate" max="'2020-06-22'" 
															data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;"/>
										</span>
									</div><br>
								</span>
							</div>
							<div class="col-md-offset-9 pull-right">
		    		            <a id="cancel" href="#/commandcenter">
		    		                <button type="reset" class="btn btn-default ">{{'label.button.cancel' | translate}}</button>
		    		            </a>
	    		            	<button id="save" type="submit" class="btn btn-primary " has-permission='CREATE_COMMANDCENTER'>{{'label.button.save' | translate}}</button>
	    		        	</div>
	                 </fieldset>
	          </form>
 		</div>
	</div>
</div>