<div class="content-container" ng-controller="AddACHController">
   <ul class="breadcrumb">
		<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider"></span></li>
		<li><a href="#/viewclient/id/{{clientId}}" ng-click="reset123()">{{'link.view.client' | translate}}</a> <span class="divider"></span></li>
		<li class="active">{{'link.view.achcard' | translate}}</li>
	</ul>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h4>{{'label.client.achcard' | translate}}</h4>
    		</div>
    		<br>
    			<form name="achCard" novalidate="" class="form-horizontal" ng-submit="submit()">
					<api-validate></api-validate>	
					<fieldset>
					<div class="form-group">
						<label class="control-label col-sm-2" for="routingNumber">{{'label.client.achcard.routingNumber' | translate}}<span class="required">*</span></label>
						<div class="col-sm-3">
							<input type="text" name="routingNumber" class="form-control" ng-model="formData.routingNumber"  required late-Validate/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="bankAccountNumber">{{'label.client.achcard.bankAccountNumber' | translate}}<span class="required">*</span></label>
						<div class="col-sm-3">
							<input type="text" name="bankAccountNumber" class="form-control" ng-model="formData.bankAccountNumber" ng-pattern="/^(?!0+$)\d{1,30}$/" required late-Validate/>
							<span ng-show="achCard.bankAccountNumber.$invalid">
			                   <small class="error" ng-show="achCard.bankAccountNumber.$error.pattern">
			                        Please enter digits only..!
			                   </small>
			                </span>
						</div>
					</div>
				  <div class="form-group">
					<label class="control-label col-sm-2" for="bankName">{{'label.client.achcard.bankName' | translate}}<span class="required">*</span></label>
					<div class="col-sm-3">
						<input type="text" name="bankName" class="form-control" ng-model="formData.bankName" required late-Validate/>
					</div>
				   </div>
				  <div class="form-group">
					<label class="control-label col-sm-2" for="name">{{'label.client.achcard.name' | translate}}<span class="required">*</span></label>
					<div class="col-sm-3">
						<input type="text" name="name" class="form-control" ng-model="formData.name" required late-Validate/>
					</div>
				 </div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="accountType">{{'label.client.achcard.accountType' | translate}}<span class="required">*</span></label>
					<div class="col-sm-3">
						 <input  type="radio" name ="accountType" ng-model="formData.accountType" ng-checked="formData.accountType == 'false'" value="Checking" required late-Validate>Checking &nbsp;
						 <input  type="radio" name ="accountType" ng-model="formData.accountType" ng-checked="formData.accountType == 'false'" value="Savings" required late-Validate>Savings
					</div>
				</div>
				<div class="col-md-offset-3">
					<a href="#/viewclient/id/{{clientId}}"><button type="reset" class="btn" ng-click="reset123()">{{'button.cancel' | translate}}</button></a>
					<button type="submit" class="btn btn-primary" ng-disabled="!achCard.$valid">{{'button.save' | translate}}</button>
				</div> 
				
				
	</fieldset>
  </form>
    	</div>
    </div>
</div>

