<div class="content-container" data-ng-controller="AddBillModesController">
    <ul class="breadcrumb">
		<li><a href="#/clients">{{'link.clients' | translate}}</a></li>
		<!-- <li><a href="#/viewclient/id/{{clientId}}" data-ng-click="reset123()">{{'link.view.client' | translate}}</a></li> -->
		<li><a href='#/viewclient/id/{{clientId}}'>{{'label.anchor.viewcustomer' | translate}}</a></li>
		<li class="active">{{'label.editbillprofile' | translate}}</li>
	</ul>
	<div data-ng-include="'views/clients/viewclienttopinfo.html'"></div>
    <div class="card">
   		<div class="content">
	   		<div class="toolbar">
	   			<h4>{{'label.editbillprofile' | translate}}</h4>
	   		</div>
	   		<form class="form-horizontal" data-ng-submit="submit()">
   		 	  <api-validate></api-validate>
		     	<fieldset>
		     	  <div class="form-group">
		     	   <label class="control-label col-sm-2" for="billDayOfMonth">{{'label.billdayofmonth' | translate}}</label>
	                  <div class="col-sm-3">
						 <!-- <input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="date.billDayOfMonth" is-open="opened" min="minendDate"  
							date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;" class="form-control"> -->
							<input type="text" id="billDayOfMonth" class="form-control" data-ng-model="formData.billDayOfMonth">
					  </div>
					  <label class="control-label col-sm-2" for="lastBillNo">{{'label.lastbillno' | translate}}</label>
	                  <div class="col-sm-3">
						 <input type="text" id="lastBillNo" class="form-control" data-ng-model="formData.lastBillNo">
					  </div>
		     	  </div>
		     	  
		     	  <div class="form-group">
		     	   <label class="control-label col-sm-2" for="billCurrency">{{'label.billcurrency' | translate}}</label>
	                  <div class="col-sm-3">
						 <select id="billCurrency" ng-model="formData.billCurrency" class="form-control"
						         ng-options="currencyData.id as getBothcurrency(currencyData.code,currencyData.name) for currencyData in currencydatas">
						         <!-- <option value="">{{'label.select.one' | translate}}</option> -->
					  	</select>
					  	<!-- <input type="text" id="billCurrency" class="form-control" data-ng-model="formData.billCurrency"> -->
					  </div>
					  <label class="control-label col-sm-2" for="paymentType">{{'label.paymenttype' | translate}}</label>
                      <div class="col-sm-3">
					  	<input type="text" id="paymentType" class="form-control" data-ng-model="formData.paymentType">
				      </div>
		     	  </div>
		     	  
		     	  <div class="form-group">
		     	   <label class="control-label col-sm-2" for="billFrequency">{{'label.billfrequency' | translate}}</label>
	                  <div class="col-sm-3">
						 <select id="status" data-ng-model="formData.billFrequency" class="form-control" 
						 	data-ng-options="billFrequencyCodeData.id as billFrequencyCodeData.billFrequencyCode for billFrequencyCodeData in billFrequencyCodeDatas">
					  	</select>
					  	<!-- <input type="text" id="billFrequency" class="form-control" data-ng-model="formData.billFrequency"> -->
					  </div>
					  <label class="control-label col-sm-2" for="billSuppressionFlag">{{'label.billsuppressionflag' | translate}}</label>
	                  <div class="col-sm-1">
	    		         <label class="checkbox">
						  <input type="checkbox" id="billSuppressionFlag" class="form-control" data-ng-model="formData.billSuppressionFlag">
						  </label>
					  </div>
		     	  </div>
     
		     	  <div class="form-group">
		     	   <label class="control-label col-sm-2" for="billSegment">{{'label.billsegment' | translate}}</label>
	                  <div class="col-sm-3">
						 <input type="text" id="billSegment" class="form-control" data-ng-model="formData.billSegment">
					  </div>
					  <label class="control-label col-sm-2" for="billSuppressionId">{{'label.billsuppressionid' | translate}}</label>
	                  <div class="col-sm-3">
						  <!-- <input type="text" id="billSuppressionId" class="form-control" data-ng-model="formData.billSuppressionId"> -->
						  <select id="billSuppressionId" ng-model="formData.billSuppressionId" class="form-control"
						  	data-ng-options="billSupressionData.id as getBothbillSupression(billSupressionData.id,billSupressionData.minBillValue,billSupressionData.noOfCycleSuppress) for billSupressionData in billSupressionDatas">
					  	  </select> 	
					  </div>
		     	  </div>
		     	  
		     	  <div class="form-group">
		     	   <label class="control-label col-sm-2" for="nextBillDay">{{'label.nextbillday' | translate}}</label>
	                 <div class="col-sm-3">
 						 <input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="date.nextBillDay" is-open="opened" min="minendDate"  
						date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;" class="form-control">
 					    </div>
					 <label class="control-label col-sm-2" for="firstBill">{{'label.firstbill' | translate}}</label>
                     <div class="col-sm-1">
	    		       <label class="checkbox">
					   		<input type="checkbox" id="firstBill" class="form-control" data-ng-model="formData.firstBill"> 
					   </label>
				     </div>
		     	  </div>
		     	  
		     	  <div class="form-group">
		     	   <label class="control-label col-sm-2" for="lastBillDay">{{'label.lastbillday' | translate}}</label>
	                 <div class="col-sm-3">
  						 <input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="date.lastBillDay" is-open="opened" min="minendDate"  
						date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;" class="form-control">
  				    </div>
				    <label class="control-label col-sm-2" for="hotBill">{{'label.hotbill' | translate}}</label>
                    <div class="col-sm-1">
	    		       <label class="checkbox">
					  		<input type="checkbox" id="hotBill" class="form-control" data-ng-model="formData.hotBill"> 
					   </label>
				    </div>
		     	  </div>
		     	  
		     	  <div class="col-md-offset-9">
	         		<a href="#/viewclient/id/{{clientId}}"><button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
			 		<button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
        		  </div>
		     	</fieldset>
	   		</form>
   		</div>
    </div>
</div>
    		
<!-- <form  novalidate="" class="form-horizontal" data-ng-submit="submit()">
<api-validate></api-validate>
<fieldset>
					<div class="form-group">
           <label class="control-label col-sm-2" for="billMode" >{{'label.billmodes' | translate}}</label>
           <div class="col-sm-3">
			 <select id="billMode" multiple="multiple" class="form-control">
		         <option value="P" >Paper</option>
		         <option value="E" >Email</option>
		         <option value="S" >SMS</option>
		         <option value="O" >OSD</option>
	          </select>
      					</div>
    					</div>
				<div class="col-md-offset-3">
		<a href="#/viewclient/id/{{clientId}}"><button type="reset" class="btn" data-ng-click="reset123()">{{'button.cancel' | translate}}</button></a>
		<button type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
	</div>
</fieldset>
</form> -->
    	
