<div class="content-container" ng-controller="AdjustmentClientController">
    <ul class="breadcrumb">
		<li><a href="#/clients">{{'link.clients' | translate}}</a></li>
		<li><a href='#/viewclient/id/{{clientId}}' ng-click="reset123()">{{'link.view.client' | translate}}</a></li>
		<li class="active">{{'label.adjustments' | translate}}</li>
	</ul>
	<div data-ng-include="'views/clients/viewclienttopinfo.html'"></div>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h4>{{'label.adjustmentdate' | translate}}</h4>
    		</div>
    		<br>
    			<form  name="createadjustmentform" novalidate class="form-horizontal" data-ng-submit="submit()">
		 			<api-validate></api-validate>
					<fieldset>
						<div class="form-group">
							<label class="control-label col-sm-2">{{ 'label.adjustmentdate' | translate }}</label>
                        	<div class="col-sm-3">
                            	<input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="start.date" is-open="opened2" class="form-control"
                            		min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly/>
                        	</div>
                      	</div>
						<div class="form-group">
							<label class="control-label col-sm-2">{{ 'label.adjustmentcode' | translate }}</label>
							<div class="col-sm-3">
	                			<select id="adjustment_code" data-ng-model="formData.adjustment_code"  class="form-control"
	                				data-ng-options="data.id as data.adjustmentCode for data in data" value="{{data.id}}"></select>
	                    	</div>
			         	</div>
						<div class="form-group">
           					<label class="control-label col-sm-2" for="adjustment_type">{{ 'label.adjustmentamount' | translate }}</label>
            				<div class="col-sm-3">
		              			<input type="text" id="amount_paid" name="adjustmentAmount" data-ng-model="formData.amount_paid" class="form-control"
		              				style="width:111px;" data-ng-pattern="/^\d+(\.\d{1,2})?$/">
		              			<select data-ng-model="formData.adjustment_type"
		              				data-ng-options="discountOption.discountType as discountOption.discountType for discountOption in discountOptions" 
		              					class="input-small form-control" value="{{discountOption.discountType}}"></select><br/>
			               	 	<span  data-ng-show="createadjustmentform.adjustmentAmount.$invalid">
					              	<small class="error" data-ng-show="createadjustmentform.adjustmentAmount.$error.pattern">Not Valid Amount!</small>
					             </span>
            				</div>
          				</div>
						<div class="form-group">
				          	<label class="control-label col-sm-2">{{'label.notes' | translate}}</label>
					        <div class="col-sm-3">
					          <textarea data-ng-click="hideError()" class="form-control" data-ng-model="formData.Remarks"></textarea>
					        </div>
	        			</div>
	        			<div class="col-md-offset-3">
							<a id="cancel" href="#/viewclient/id/{{clientId}}">
								<button type="reset" class="btn" data-ng-click="reset123()">{{'button.cancel' | translate}}</button>
							</a>
               				<button id="submit" type="submit" class="btn btn-primary" data-ng-disabled="createadjustmentform.adjustmentAmount.$invalid">Save</button>
						</div>
		</fieldset>
	</form>
    	</div>
    </div>
</div>

