<div class="content-container" data-ng-controller="CloseClientController">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
        <li><a href='#/viewclient/id/{{clientId}}'>{{'label.anchor.viewcustomer' | translate}}</a></li>
        <li class="active">{{'label.closecustomer' | translate}}</li>
    </ul>
    <div data-ng-include="'views/clients/viewclienttopinfo.html'"></div>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h4>{{'label.closecustomer' | translate}}</h4>
    		</div>
    		<br>
    			<form name="closeclientform" novalidate class="form-horizontal" data-ng-submit="submit()">
    				<api-validate></api-validate>
			         <!-- <div class="error" data-ng-show="errorStatus || errorDetails">
							<label data-ng-show="errorStatus">{{errorStatus}}</label>
							<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
					 </div> -->
	        		<fieldset>
				        <div class="form-group">
							<label class="control-label col-sm-2" for="Date"> Closure Date<span class="required">*</span> </label>
							  	<div class="col-sm-3">
									<input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="close.date" data-is-open="opened" min="minDate" max="maxDate"
										class="form-control" data-date-disabled="disabled(date, mode)" required data-late-Validate style="background-color:#FFFFFF;" 
											readonly/>
							  	</div>
						</div>
			           	<div class="form-group">
			            	<label class="control-label col-sm-2"> Closure Reason<span class="required">*</span></label>
			                <div class="col-sm-3">
			                  <select data-ng-model="formData.closureReasonId" class="form-control"
			                  		data-ng-options="closureReason.id as closureReason.name for closureReason in closureReasons">
			                	</select>
			                </div>
			            </div>
				       	<div class="col-md-offset-9">
				      		<a id="cancel" href='#/viewclient/id/{{clientId}}'><button type="reset" class="btn">{{'button.cancel' | translate}}</button></a>
				           	<button id="submit" type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
				      	</div>
	        	</fieldset>
  			</form>
    	</div>
    </div>
</div>

