<div data-ng-controller="CreateClientController" class="content-container">
<ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.customers' | translate}}</a></li>
        <li class="active">{{'label.button.createcustomer' | translate}}</li>
</ul>
<form  name="createclientform" novalidate class="form-horizontal card well"  data-ng-submit="submit()">
	<api-validate></api-validate>
	<!-- <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	 </div> -->
     <fieldset>
        	<legend>{{'label.button.createcustomer' | translate}}</legend>
        	<!-- <table>
        		<tr>
        			<td> -->
        			<div class="col-md-12">
        				<div class="col-md-6">
	         			<div class="form-group">
			         		<label class="control-label col-sm-4">{{'label.organization' | translate}}<span class="required">*</span></label>
			            	<!-- <div class="col-sm-6">
			              		<select data-ng-model="formData.officeId" class="form-control" data-ng-options="office.id as office.name for office in offices" ></select>
			            	</div> -->
			            	<!-- <div class="col-sm-6">
			            		<input class="form-control input-xxlarge" id="office_code"
                               ng-model="formData.officeId"
                               placeholder="Enter Office Code"
                               type="text"
                               ng-autofocus="true"
                               autocomplete="off"
                               data-typeahead-min-length="3"
                               uib-typeahead="office.id as groupByOffice(office.externalId, office.name) for office in offices | filter:$viewValue | limitTo:8"/>&nbsp;&nbsp;
			            	</div> -->
			            	<div class="col-sm-6">
				            	<input type="text"  
				            		placeholder="Enter Office Code"
				            		data-ng-model="formData.officeId" 
				            		name="serialNumber" 
				            		class="form-control"
									uib-typeahead=" officeDetails.externalId as groupByOffice(officeDetails.externalId, officeDetails.name) for officeDetails in getData($viewValue)" 
									autocomplete="off" data-typeahead-min-length="0">
							</div>
			            </div>
			            <div class="form-group">
				            <label class="control-label col-sm-4">{{'label.clientcategeory' | translate}}<span class="required">*</span></label>
				            <div class="col-sm-6">
				              <select data-ng-model="formData.clientCategory" class="form-control" data-ng-options="clientCategoryData.id as clientCategoryData.categoryType for clientCategoryData in clientCategoryDatas" ></select>
				            </div>
			          	</div>
			          	<div class="form-group">
                			<label class="control-label col-sm-4 col-sm-4">Title</label>
               				<div class="col-sm-6">
								 <select data-ng-model="formData.title" class="form-control">
								    <option value="">{{'label.select.one' | translate}}</option>
			                        <option  value="Mr">Mr</option>
			                        <option  value="Mr">Mrs</option>
			                        <option  value="Ms">Ms</option>
									<option  value="Miss">Miss</option>
			                     </select>
             				</div>
             			</div>
             			<div class="form-group">
           		 			<label data-ng-hide="formData.entryType == 'ORP'" class="control-label col-sm-4" for="firstname">
           		 				{{'label.firstname' | translate}}<span class="required">*</span></label>
           		 			<label data-ng-show="formData.entryType == 'ORP'" class="control-label col-sm-4" for="firstname">
           		 				{{'label.corporate' | translate}}<span class="required">*</span></label>
	             			<div class="col-sm-6">
	               				<input type="text" id="firstname" name="firstname" data-ng-model="formData.firstname" class="form-control" 
	               					required data-ng-minlength=3 data-late-Validate/>
				               <span data-ng-show="createclientform.firstname.$invalid">
				                   <small class="error" data-ng-show="createclientform.firstname.$error.req">
				                      First Name should not be blank
				                   </small>
				                   <small class="error" data-ng-show="createclientform.firstname.$error.minlength && !createclientform.firstname.$error.req">First Name is required at least 3 characters</small>
				               </span>
	             			</div>
	             		</div>
	             		<div class="form-group">
				            <label data-ng-hide="formData.entryType == 'ORP'" class="control-label col-sm-4" for="lastname">
				            	{{'label.lastname' | translate}}<span class="required">*</span></label>
				            <label data-ng-show="formData.entryType == 'ORP'" class="control-label col-sm-4" for="lastname">
				            	{{'label.contactperson' | translate}}<span class="required">*</span></label>
			                <div class="col-sm-6">
			              		<input type="text" id="lastname" name="lastname" class="form-control" data-ng-model="formData.lastname" 
			              			data-ng-pattern="/^[a-zA-Z0-9\s]+$/" required data-ng-minlength=3 data-late-Validate/>
			             			<span  data-ng-show="createclientform.lastname.$invalid">
				              			<small class="error" data-ng-show="createclientform.lastname.$error.pattern">
				              				Allow alphanumeric and spaces only!</small>
				                  		<small class="error" data-ng-show="createclientform.lastname.$error.req">
				                      		Last Name should not be blank
				                  		</small>
				                  		<small class="error" data-ng-show="createclientform.lastname.$error.minlength && !createclientform.lastname.$error.req">Last Name is required at least 3 characters</small>
			              			</span>
			            	</div>
			            </div>
			            <div class="form-group">
				         	<label  data-ng-hide="formData.entryType == 'ORP'" class="control-label col-sm-4" for="middlename">{{'label.middlename' | translate}}</label>
				          	<label  data-ng-show="formData.entryType == 'ORP'" class="control-label col-sm-4" for="middlename">{{'label.corporatedetails' | translate}}</label>
				         	<div class="col-sm-6">
				           		<input type="text" id="middlename" name=middlename class="form-control" data-ng-model="formData.middlename"/>
				         	</div>
				      	</div>
				      	<div class="form-group">
				        	<label class="control-label col-sm-4" for="phone">{{'label.phone' | translate}}<span class="required">*</span></label>
					        <div class="col-sm-6">
					          <input type="text" id="phone" data-ng-model="formData.phone" class="form-control" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" name="phone" maxlength="15" required  data-late-Validate/>
					          	<div data-ng-show="createclientform.phone.$dirty && createclientform.phone.$invalid">
					  				<small class="error" data-ng-show="createclientform.phone.$error.pattern">{{'label.prospect.error.mobileno' | translate}}</small>
								</div>
					        </div>
					   	</div>
					   	<div class="form-group">
			      			<label class="control-label col-sm-4" for="homePhoneNumber">{{ 'label.homephone' | translate }}</label>
			      			<div class="col-sm-6">
			        			<input type="text" name="homePhone" id="homePhoneNumber" class="form-control" data-ng-model="formData.homePhoneNumber" data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" maxlength="15"/>
			        			<div data-ng-show="createclientform.homePhone.$dirty && createclientform.homePhone.$invalid">
			  						<small class="error" data-ng-show="createclientform.homePhone.$error.pattern">{{'label.prospect.error.mobileno' | translate}}</small>
								</div>
			     			</div>
			     		</div>
			     		<div class="form-group" >
					        <label class="control-label col-sm-4" for="email">{{'label.email' | translate}}<span class="required" data-ng-show="isEmailEnable==true">*</span></label>
					        <div class="col-sm-6">
					          <input type="text" id="email" class="form-control" data-ng-model="formData.email"/>
					        </div>
					        </div>
					        
					        <div class="form-group" >
                			 <label class="control-label col-sm-4">preferences</label>
               				<div class="col-sm-6">
								 <select data-ng-model="formData.billMode"  class="form-control"
                    				    data-ng-options="preference.mCodeValue as preference.mCodeValue for preference in preferences">
                    		            <option value="">{{'label.select.one' | translate}}</option>
                    		    </select>
             				</div> 
					        
			      		</div>
			      		 <div class="form-group" data-ng-hide="configurationProperty==false">
					        <label class="control-label col-sm-4">Login<span class="required">*</span></label>
					        <div class="col-sm-6">
					          <input type="text" id="login" name="login" class="form-control" data-ng-model="formData.login"/>
					        </div>
			      		</div>
			      		</div><!-- col-md-6 -->
			      	<!-- </td>
			      	<td> -->
			      	<div class="col-md-6">
			            <div class="form-group">
			            	<div class="col-sm-4">
			            		<label class="control-label col-sm-1" style="margin-right: 69px;">Individual</label>
			            		<div class="col-sm-1">
					         		<input type="radio" id="type" data-ng-model="formData.entryType" style="margin-top:10px;" name="entryType" value="IND">
					         	</div>
					         </div>
					         <div class="col-sm-4">
					         	<label class="control-label col-sm-1" style="margin-right: 69px;">Corporate</label>
					         	<div class="col-sm-1">
					         		<input type="radio" id="type" data-ng-model="formData.entryType" style="margin-top:10px;" name="entryType" value="ORP">
					         	</div>
			        		</div>
	          			</div>
             			<div class="form-group" data-ng-hide="propertyMaster">
                 			<label class="control-label col-sm-4">{{'label.address1' | translate}}<span class="required">*</span></label>
			        		<div class="col-sm-6">
					          	<input type="text" id="addressNo" name="address" class="form-control" data-ng-model="formData.addressNo" 
					          		required data-late-Validate/>
					          	<span  data-ng-show="createclientform.address.$invalid">
					             	<small class="error" data-ng-show="createclientform.address.$error.req">
					                  Address should not be blank
					              	</small>
					          	</span>
			        		</div>
              			</div>
	             		<div class="form-group">
					        <label class="control-label col-sm-4">{{'label.street' | translate}}</label>
			        		<div class="col-sm-6">
			          			<input type="text" id="street" class="form-control" data-ng-model="formData.street"/>
			        		</div>
         	  			</div>
			            <div class="form-group">
	            			<label class="control-label col-sm-4" for="city">{{'label.city/area' | translate}}<span class="required">*</span></label>
					        <div class="col-sm-6" data-ng-hide="propertyMaster">
					          <input type="text" id="city" name="city" class="form-control" data-ng-model="formData.city" autocomplete="off" list ="citylist" data-ng-change="getStateAndCountry(formData.city)" required />  
					        </div>
					        <div class="col-sm-3" data-ng-show="propertyMaster">
					          	<input type="text" id="city" name="city" class="form-control" data-ng-model="formData.city" disabled required />  
					        </div>
					        <datalist id="citylist">
				             	<option  data-ng-repeat="city in cities" value="{{city}}">
				       		</datalist>
	          			</div>
				      	<div class="form-group">
				         	<label class="control-label col-sm-4" for="state">{{'label.state' | translate}}<span class="required">*</span></label>
					        <div class="col-sm-6">
					          <input type="text" id="state" class="form-control" data-ng-model="formData.state" disabled required/>
					        </div>
				      	</div>
					   <div class="form-group">
					        <label class="control-label col-sm-4" for="country">{{'label.country' | translate}}<span class="required">*</span></label>
					        <div class="col-sm-6">
					          <input type="text" id="country" name="country" class="form-control" data-ng-model="formData.country" disabled required />
					        </div>
		      			</div>
				      	
			     		<div class="form-group">
			     			<label class="control-label col-sm-4">{{'label.zipcode' | translate}}</label>
					        <div class="col-sm-6">
					          <input type="text" id="zipCode" class="form-control" data-ng-model="formData.zipCode"/>
					        </div>
			    		</div>
			    		<div class="form-group">
				    		<label class="control-label col-sm-4">{{ 'label.cafid' | translate }}</label>
		                  	<div class="col-sm-6">
		                    	<input type="text" class="form-control" data-ng-model="formData.cafId">
		                  	</div>
		                </div>
			       		<div class="form-group"  data-ng-show="propertyMaster">
					        <label class="control-label col-sm-4">{{'label.propertycode' | translate}}<span class="required">*</span></label>
					        <div class="col-sm-6">
					          	<input type="text" id="propertyCode" name="address" class="form-control" data-ng-model="formData.addressNo" data-typeahead="propertyData.propertyCode as propertyData.propertyCode for propertyData in getExistsProperty($viewValue)"
					           		autocomplete="off" data-typeahead-min-length="0"  data-typeahead-on-select="getPropertyDetails(formData.addressNo)" />&nbsp;
					           	<a data-ng-click="generatePropertyPopup()" data-popover-placement="right" data-popover="Generate Building Code" data-popover-trigger="mouseenter"><i class="icon-plus icon-white"></i></a><br/>
						          <span  data-ng-show="createclientform.address.$invalid">
						              <small class="error" data-ng-show="createclientform.address.$error.req">{{'label.required.field' | translate}}</small>
						          </span>
					          		<small class="error" data-ng-show="invalidBuildingCode">Invalid BuildingCode</small>
					        </div>
			      		</div>
		       			<div class="form-group" data-ng-hide="configurationProperty==false">
		        			<label class="control-label col-sm-4">Password<span class="required">*</span></label>
					        <div class="col-sm-6">
					          <input type="password"  class="form-control" data-ng-model="formData.password"/>
					        </div>
		      			</div>
		      			<div class="form-group">
					        <label class="control-label col-sm-4" for="file">{{'label.client.select.image' | translate}}</label>
					        <div class="col-sm-6">
					          <input type="file" file-model="myFile">
					        </div>
		      			</div>
		      			</div><!-- col-md-6 -->
		      			</div><!-- col-md-12 -->
		      		<!-- </td>
      			</tr>
      			<tr>
      				<td> -->
      				<div class="col-md-12">
		      			
		      		<!-- </td>
		      		<td> -->
		      			<div class="col-md-offset-9">
					        <a href="#/clients"><button id="cancel" type="reset" class="btn">{{'button.cancel' | translate}}</button></a>
					        <button data-ng-hide="clientAddInfo" id="submit" type="submit" data-ng-disabled="!createclientform.$valid" class="btn btn-primary">{{'button.save' | translate}}</button>
					        <button data-ng-show="clientAddInfo" id="submit" type="submit" data-ng-disabled="!createclientform.$valid" class="btn btn-primary">{{'button.save' | translate}}&nbsp;&nbsp;
					        	<i class="fa fa-forward"></i></button>
		      			</div>
		      		</div>
		      		<!-- </td>
      			</tr>
      		</table> -->
      		
  		</fieldset>
</form>
<script type="text/ng-template" id="generateProperty.html">
<div class="modalcustomsize">
      <div class="modal-header silver">
        <h3 class="modal-title">Generate Property Code</h3>
      </div>
      <div class="modal-body" style="padding:0px;overflow-y=unset;">
  <form name="createpropertyform" novalidate  class="form-horizontal well"  data-ng-submit="submit()">
     <div class="error" data-ng-show="errorStatus || errorData">
			<label>{{'label.error' | translate}}</label>
			<label data-ng-show="errorStatus">{{errorStatus}}</label>
			<label data-ng-hide="errorStatus" data-ng-repeat="error in errorData">{{error.code | translate}}</label>
	 </div>
        
          <div class="form-group">
             <label class="control-label col-sm-2" for="precinct">{{'label.precinct' | translate }}<span class="required">*</span></label>
              <div class="col-sm-3">
             <input type="text" id="precinct" name="precinct" class="form-control" data-ng-model="formData.precinct" data-typeahead="precinct.cityCode as precinct.cityName for precinct in getPrecinct($viewValue)"
             autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getPrecinctDetails(formData.precinct)" data-typeahead-editable="false" required data-late-Validate/><br/>
             <span  data-ng-show="createpropertyform.precinct.$invalid">
              <small class="error" data-ng-show="createpropertyform.precinct.$error.req"> {{'label.required.field' | translate}}</small>
              <small class="error" data-ng-show="createpropertyform.precinct.$error.editable&&!createpropertyform.precinct.$error.req">Invaild Precinct</small>
          </span>
        </div>
      </div>
          	
          	<div class="form-group">
            	<label class="control-label col-sm-2" for="parcel">{{'label.parcel' | translate }}<span class="required">*</span></label>
            	<div class="col-sm-3">
              		<input type="text"  id="parcel" name="parcel" class="form-control" data-ng-model="parcel" data-typeahead="parcel.code as parcel.description for parcel in getParcel($viewValue)" 
              		autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getParcelDetails(parcel)" data-typeahead-editable="false" required data-late-Validate/><br/>
              		<span data-ng-show="createpropertyform.parcel.$invalid">
					  <small class="error" data-ng-show="createpropertyform.parcel.$error.req">{{'label.required.field' | translate}} </small> 
					  <small class="error" data-ng-show="createpropertyform.parcel.$error.editable&&!createpropertyform.parcel.$error.req">Invalid Parcel</small> 
					</span>
            	</div>
          	</div>
          	
          	 <div class="form-group">
            <label class="control-label col-sm-2" for="propertyType">{{'label.propertytype' | translate }}<span class="required">*</span></label>
            <div class="col-sm-3">
              <select id="propertyType"  data-ng-model="formData.propertyType" class="form-control" data-ng-options="propertyType.id as propertyType.mCodeValue for propertyType in propertyTypes" required data-late-Validate>
              <option value="">{{'label.select.one' | translate}}</option></select>
              <span data-ng-show="createpropertyform.propertyType.$invalid">
				<small class="error" data-ng-show="createpropertyform.propertyType.$error.req">{{'label.required.field' | translate}} </small> 
				</span>
            </div>
          </div>
     
            <div class="form-group">
            	<label class="control-label col-sm-2" for="buildingCode">{{'label.buildingcode' | translate }}<span class="required">*</span></label>
            	<div class="col-sm-3">
              		<input type="text"  id="buildingCode" name="buildingCode" class="form-control" data-ng-model="buildingCode" data-typeahead="building.code as building.description for building in getBuild($viewValue)" 
              		autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getbuildCode(buildingCode)" data-typeahead-editable="false" required data-late-Validate/><br/>
              		<span data-ng-show="createpropertyform.buildingCode.$invalid">
					  <small class="error" data-ng-show="createpropertyform.buildingCode.$error.req">{{'label.required.field' | translate}} </small> 
                       <small class="error" data-ng-show="createpropertyform.buildingCode.$error.editable&&!createpropertyform.buildingCode.$error.req">Invalid BuildingCode</small> 
					</span>
            	</div>
          	</div>
          
          	
          	<div class="form-group">
            	<label class="control-label col-sm-2" for="floor">{{'label.floor' | translate }}<span class="required">*</span></label>
            	<div class="col-sm-3">
              		<input type="text" id="floor" name="floor" class="form-control" data-ng-model="floor" data-typeahead="floor.code as floor.description for floor in getFloor($viewValue)" 
              	     autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getFloorDetails(floor)" data-typeahead-editable="false" required data-late-Validate/><br/>
              		<span data-ng-show="createpropertyform.floor.$invalid">
		              <small class="error" data-ng-show="createpropertyform.floor.$error.req">{{'label.required.field' | translate}} </small>
                     <small class="error" data-ng-show="createpropertyform.floor.$error.editable&&!createpropertyform.floor.$error.req">InValid Level/Floor</small></span>
            	</div>
          	</div>
          	
              <div class="form-group">
            	<label class="control-label col-sm-2" for="unitCode">{{'label.unitcode' | translate }}<span class="required">*</span></label>
            	<div class="col-sm-3">
              		<input type="text"  id="unitCode" name="unitCode" class="form-control" data-ng-model="unitCode" data-typeahead="unit.code as unit.code for unit in getUnit($viewValue)" 
              		autocomplete="off" data-typeahead-min-length="0" data-typeahead-on-select="getunitCode(unitCode)" data-typeahead-editable="false" required data-late-Validate/><br/>
              		<span data-ng-show="createpropertyform.unitCode.$invalid">
					  <small class="error" data-ng-show="createpropertyform.unitCode.$error.req">{{'label.required.field' | translate}} </small> 
                       <small class="error" data-ng-show="createpropertyform.unitCode.$error.editable&&!createpropertyform.unitCode.$error.req">Invalid UnitCode</small> 
					 </span>
            	</div>
          	</div>
          	
          <div class="form-group">
            	<label class="control-label col-sm-2" for="propertyCode">{{'label.propertycode' | translate }}</label>
            	<div class="col-sm-3">
              		<input type="text" id="generateProperty" name="propertyCode" class="form-control" data-ng-model="formData.propertyCode" required readonly data-late-Validate><br/>
            	 </div>
          	</div>
          
            <div class="form-group">
            	<label class="control-label col-sm-2" for="street">{{'label.street' | translate }}</label>
            	<div class="col-sm-3">
              		<input type="text" id="street" class="form-control" data-ng-model="formData.street">
            	</div>
          	</div>
          	
          	
          	<div class="form-group">
            	<label class="control-label col-sm-2" for="poBox">{{'label.poBox' | translate }}</label>
            	<div class="col-sm-3">
              		<input type="text"  id="poBox" class="form-control" data-ng-model="formData.poBox" >
            	</div>
          	</div>
          	
          	<div class="form-group">
            	<label class="control-label col-sm-2" for="state">{{'label.state' | translate }}</label>
            	<div class="col-sm-3">
              		<input type="text"  class="form-control" id="state" data-ng-model="formData.state" readonly required>
            	</div>
          	</div>
          	
          	 <div class="form-group">
            	<label class="control-label col-sm-2" for="country">{{'label.country' | translate }}</label>
            	<div class="col-sm-3">
              		<input type="text" id="country" class="form-control" data-ng-model="formData.country" readonly required>
            	</div>
          	</div>
       <div class="form-group" style="margin-left: 235px;">
          <button id="cancel" class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
         <button id="submit" data-ng-disabled="!createpropertyform.$valid" class="btn btn-primary" ng-click="accept()">Generate</button>
       </div>
          	
     </form>
      </div>
</div>
</script>
</div>