<div ng-controller="RegisterController">
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h4>Register</h4>
    		</div>
    		<br>
    			<form name="registerForm" class="form-horizontal" data-ng-submit="submit()">
    				<api-validate></api-validate>
        			<fieldset>
						<div class="form-group">
           					 <label class="control-label col-sm-2" for="paymentDate">{{ 'label.paymentdate' | translate }}</label>
            				<div class="col-sm-3">
             					 <input id="dateid" type="text" data-ng-change="test()" data-datepicker-pop="dd MMMM yyyy" 
             					  class="form-control" data-ng-model="start.date" data-is-open="opened2" min="minDate" max="maxDate" 
             					  			data-date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly />
           					</div>
         				</div>	
						<div class="form-group">
            				<label class="control-label col-sm-2" for="paymentCode">{{ 'label.paymentType' | translate }}</label>
            				<div class="col-sm-3">
             					 <select id="paymenttypeval" data-ng-model="formData.paymentCode" 
             					 	class="form-control" data-ng-options="data.id as data.mCodeValue for data in data" 
             					 		value="{{data.id}}" data-ng-change="paymentTypeData(formData.paymentCode)"></select>
            				</div>
          				</div>		
						<div class="form-group">
           					<label class="control-label col-sm-2" for="amountPaid">{{ 'label.amount' | translate }}</label>
            				<div class="col-sm-3">
             					<input type="text" id="amountPaid" name="amountPaid" data-ng-model="formData.amountPaid" 
             						data-ng-change="amountChange(formData.amountPaid)" class="form-control"/>
             						<span ng-show="useWalletAmount">Total Amount : {{totalPaidAmount}}</span>
             				</div>
         				</div>
						<div class="form-group">
           					<label class="control-label col-sm-2" for="receiptNo">{{ 'label.receiptno' | translate }}</label>
            				<div class="col-sm-3">
             					<input type="text" class="form-control" id="receiptNo" name="receiptno" 
             						data-ng-model="formData.receiptNo">
           					</div>
         				</div>
						<div class="form-group">
	          				<label class="control-label col-sm-2">{{'label.notes' | translate}}</label>
		        			<div class="col-sm-3">
		          				<textarea class="form-control" data-ng-model="formData.remarks"></textarea>
		        			</div>
	        			</div>
						<br>
						 <div class="col-md-offset-9">
			           		 <a href='#/viewclient/id/{{clientId}}' class="btn">Cancel</a>
			          		 <button id="submit" type="submit" data-ng-disabled="payInvoiceForm.$dirty && payInvoiceForm.$invalid" 
			          		 	class="btn btn-primary" data-ng-click = "submitAccount()">{{'button.save'| translate}}</button>
			          	</div>
      				</fieldset>
      			</form>
    	</div>
    </div>
</div>

