<div class="content-container">
  <div id="expertsearch" data-ng-controller="ExpertSearchController">
    <div class="card well mb15 pb20">
      <div class="toolbar ptb15 mrl15 bb1 mb20">
        <h4 class="ptrbl0 ng-binding">{{'label.heading.welcome' | translate}}, {{currentSession.user.name}}</h4>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6"><input id="expert" type="text" data-ng-model="formData.search"
	    placeholder="{{'label.input.searchactivities' | translate}}" class="col-md-10 form-control" typeahead-on-select="search()"
	    ng-autofocus="true" uib-typeahead="param as param for param in searchParams | filter:$viewValue | limitTo:8"/></div>
        <div class="col-sm-6">
        	<div class="btn-group pull-right">
            <label class="btn primary_btn" ng-model="dashModel" btn-radio="'dashboard'"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;&nbsp; {{'label.heading.home' | translate}}</label>
            <label class="btn btn1 ml20" ng-click="switch()" ng-model="dashModel" btn-radio="'rich-dashboard'"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;&nbsp; {{'label.heading.dashboard' | translate}}</label>
          </div>
        </div>
        </div>
      </div>
    </div>
    
    <!--<div class="card well minHeight pb20">
      <div id="home" class="row">
        <div class="col-md-12">
        	<div class="toolbar ptb15 mrl15 bb1 mb20">
                <h4 class="ptrbl0 ng-binding">{{'label.heading.navigation.guide' | translate}}: </h4>
              </div>
           </div>
         <div class="col-md-6 col-md-offset-3">
			<img src="./images/mifos_lg-logo.png" alt="MifosX" class="img-responsive" ng-if="!isLargeLogoPath">
			<img src="{{largeLogoPath}}" alt="MifosX" class="img-responsive" ng-if="isLargeLogoPath">
	    </div> 
      </div>
      <div class="row">
      <div class="col-md-12">
      	<p class="shortcutsCode"><i class="fa fa-arrow-left"></i>{{'label.heading.left.shortcuts' | translate}} &nbsp;&nbsp; <i class="fa fa-arrow-up"></i>{{'label.heading.top.menu' | translate}} &nbsp;&nbsp; <i class="fa fa-arrow-up top-right"></i>{{'label.heading.right.search' | translate}}</p>
        <div class="col-md-6">
          <table class="table table-striped table-bordered">
            <tr>
              <td ><strong><i class="icon-bolt"></i>{{'label.heading.recent.frequent.activities' | translate}}</strong></td>
            </tr>
            <tr>
              <td ng-hide="frequent.length==0" ><a href="#{{freq}}" data-ng-repeat="freq in frequent track by $index" class="list-group-item"> {{freq | UrlToString | translate}}</a></td>
              <td ng-show="frequent.length==0"><span class="required offset3">None</span></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-striped table-bordered activity_color">
            <tr>
              <td ><strong style="font-size:15px;"><i class="icon-laptop"></i>{{'label.heading.visited.clients' | translate}}</strong></td>
            </tr>
            <tr>
              <td ng-hide="recentClients.length==0" ><a href="#{{recentClient.href}}" data-ng-repeat="recentClient in recentClients" class="list-group-item"> {{recentClient.accountNo}} --- {{recentClient.displayName}}</a></td>
              <td ng-show="recentClients.length==0"><span class="required offset3">None</span></td>
            </tr>
          </table>
        </div>
        </div>
      </div>
    </div> -->
    
    <div id="home" class="card bgnone row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="viewbgclient minHeight240 mt15">
                <h4 class="pb15 ng-binding"><i class="icon-bolt"></i>{{'label.heading.recent.frequent.activities' | translate}}</h4>
                <table class="table table-striped tablestyles">
                <tr>
                  <td ng-hide="frequent.length==0" class="ptrbl0" ><a href="#{{freq}}" data-ng-repeat="freq in frequent track by $index" class="list-group-item"> {{freq | UrlToString | translate}}</a></td>
                  <td ng-show="frequent.length==0" class="tc"><span class="required offset3">None</span></td>
                </tr>
              </table>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="viewbgclient minHeight240 mt15">
                <h4 class="pb15 ng-binding"><i class="icon-laptop"></i>{{'label.heading.visited.clients' | translate}}</h4>
                <table class="table table-striped">
                <tr>
                  <td ng-hide="recentClients.length==0" class="ptrbl0" ><a href="#{{recentClient.href}}" data-ng-repeat="recentClient in recentClients" class="list-group-item"> {{recentClient.accountNo}} --- {{recentClient.displayName}}</a></td>
                  <td ng-show="recentClients.length==0" class="tc"><span class="required offset3">None</span></td>
                </tr>
              </table>
            </div>
        </div>
    </div>
  </div>
</div>
