<div class="content-container" ng-controller="UploadAndProcessMrnDetailsController">
	<ul class="breadcrumb">
		<li>
			<a href="#/inventory">{{'label.inventory' | translate}}</a>
		</li>
		<li class="active">{{'button.uploadandprocess' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.uploadandprocessmrndetails' | translate}}</h4>
			</div>
			</br>
			<form class="form-horizontal" rc-submit="submit()">
				<api-validate></api-validate>
				<fieldset>
					<div class="form-group">
		            	<label class="control-label col-sm-2" for="status">{{ 'label.import.name' | translate }}</label>
		            	<div class="col-sm-3">
			              	<select ng-model="formData.status" class="form-control">
			              	    <option value="Mrn">MRN</option>
						    	<option value="Move Itemsale">Move Itemsale</option>
			                </select>&nbsp;&nbsp;&nbsp;
			              	<a ng-hide="formData.status =='-1'" ng-click="downloadFile(formData.status)">
			              		<i class="fa fa-cloud-download"></i> Download Sample File
			              	</a>
		            	</div>
	          		</div>
	          		
	          		<div class="form-group">
	            		<label class="control-label col-sm-2" for="description">{{ 'label.import.description' | translate }}</label>
	            		<div class="col-sm-3">
	             			<textarea rows="2" cols="2" class="form-control" ng-model="formData.description"></textarea>
	            		</div>
          			</div>
          			
          			<div class="form-group">
	              		<label class="control-label col-sm-2" for="file">{{'label.client.select.file' | translate}}</label>
	              		<div class="col-sm-3">
	                		<input type="file" ngf-select="onFileSelect($files)">
	              		</div>
            		</div>
            		
            		<div class="form-group">
	              		<div class="col-md-offset-9">
		              		<a href="#/inventory">
		              			<button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button>
		              		</a>
	            			<button id="submit" type="submit"  class="btn btn-primary">{{'button.uploadandprocess'| translate}}</button>
	              		</div>
            		</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>