<div class="content-container" data-ng-controller="PlanController" >
<ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li class="active">{{'label.plans' | translate}}&nbsp;&nbsp;</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
            	<div class="toolbar ptb15 mrl15 bb1 mb20">
	            	<h4 class="ptrbl0">{{'label.plans' | translate}}</h4>
	        	</div>
	            <div class="row">
	                <div class="col-md-6">
	                    <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
	                </div>
	                <div class="col-md-6">
	                    <a href="#/createPlan" class="btn primary_btn pull-right" has-permission ='CREATE_PLAN'><i class="fa fa-plus "></i>{{'label.button.createplan' | translate }}</a>
	                </div>
	            </div>
            </div>
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.plan.code' | translate }}</th>
                <th>{{ 'table.plan.description' | translate }}</th>
                <th>{{ 'table.plan.status' | translate }}</th>
                <th>{{ 'table.plan.provision system' | translate}}</th>
                <th>{{'label.plan.startdate' | translate }}</th>
                <th>{{ 'table.heading.actions' | translate }}</th>
            </tr>
        </thead>
        <tbody>
           <tr class="pointer-main" data-ng-repeat="plan in plans | filter:filterText">
                <td class="pointer" data-ng-click="routeTo(plan.id)">{{plan.planCode}}</td>            
                <td class="pointer" data-ng-click="routeTo(plan.id)">{{plan.planDescription}}</td>        
                <td class="pointer" data-ng-click="routeTo(plan.id)">{{plan.planstatus.value}}</td>
                <td class="pointer" data-ng-click="routeTo(plan.id)">{{plan.provisionSystem}}</td>
                <td class="pointer" data-ng-click="routeTo(plan.id)">{{plan.startDate|DateFormat}}</td>
                <td><a has-permission = UPDATE_PLAN href="#/editplan/{{plan.id}}" uib-popover="Edit Plan" title="Edit Plan"
                       data-popover-trigger="mouseenter" class="fa fa-edit"></a>&nbsp;
                <a has-permission = READ_PRICE href="#/prices/{{plan.id}}" uib-popover="View Price" title="View Price"
                       data-popover-trigger="mouseenter" class="fa fa-eye"></a> &nbsp;  
                <a has-permission = "CREATE_PRICE && READ_PRICE" href="#/createprice/{{plan.id}}" uib-popover="Add Price" title="Add Price"
                       data-popover-trigger="mouseenter" class="fa fa-plus-circle"></a>&nbsp; 
                <!-- <a has-permission = DELETE_PLAN  data-ng-click="deleteplan(plan.id)" uib-popover="Delete Plan" title="Delete Plan"
                       data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a>&nbsp; -->
                <a has-permission = "CREATE_PLANMAPPING && READ_PLANMAPPING" href="#/createhardwareplanmapping" uib-popover="Create HardwarePlanMapping" title="Create HardwarePlanMapping"
                       data-popover-trigger="mouseenter" class="fa fa-plus-circle"></a>
                      <!--  <a data-ng-show="PermissionService.showMenu('DELETE_PLAN')" data-ng-click="editPlanQualifier(plan.id)" data-popover="Delete Plan" 
                       data-popover-trigger="mouseenter"><i class="icon-remove icon-white"></i></a> -->
            </td>
            </tr>
        </tbody>
    </table>
  </div>
 </div>
 <script type="text/ng-template" id="deleteplan.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'dialog.plan.title.message' | translate}}</h3>
                    </div>
                    <div class="modal-body modal-small">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
 </script>

 <script type="text/ng-template" id="editplanqualifier.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'dialog.plan.qualifier.message' | translate}}</h3>
                    </div>
                    <div class="modal-body modal-normal">
                     <table>
				<tr>
					<td>

						<div class="control-group">
							<label class="control-label"></label>
							<div class="span3">
								<label class="control-label"> {{ 'label.region.availablestates' | translate }} </label> 
								 <select multiple data-ng-model="allowed" data-ng-disabled="checked">
									<option data-ng-repeat="availabePartnersData in availabePartnersDatas" value="{{availabePartnersData.id}}">{{availabePartnersData.partnerName}}</option>
								</select>
							</div>
							<div class="paddedtop10 span1 paddedleft0">
								<button type="button" class="btn btn-primary"data-ng-disabled="checked" data-ng-click="restrict()">
									<i class="icon-double-angle-right"></i>
								</button><br />
								<button type="button" class="btn btn-primary" data-ng-disabled="checked" data-ng-click="allow()">
									<i class="icon-double-angle-left"></i>
								</button>
							</div>
							<div class="span3">
								<label class="control-label"> {{ 'label.region.selectedstates' | translate }} </label> 
								<select multiple data-ng-model="restricted" data-ng-disabled="checked">
									<option data-ng-repeat="partnersData in partnersDatas" value="{{partnersData.id}}">{{partnersData.partnerName}}</option>
								</select>
							</div>
							
						</div>
					</td>
				</tr>
			</table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
  </script>
</div>
