<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li><a href="#/contract">{{'label.manage.contracts' | translate}}</a></li>
        <li class="active">{{'label.editcontract' | translate}}</li>
    </ul>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h4>{{'label.heading.editcontract' | translate}}</h4>
    		</div>
    		<br>
    			<form name="editcontractform" novalidate="" class="form-horizontal" ng-controller="EditContractController" rc-submit="submit()">
    			    <api-validate></api-validate>
    			    <fieldset>
    			        <div class="form-group">
    			            <label class="control-label col-sm-2" for="subscriptionPeriod">{{ 'label.contract.contractperiod' | translate }}</label>
    			            <div class="col-sm-3">
    			                 <input type="text" id="subscriptionPeriod" name="subscriptionPeriod" class="form-control" data-ng-model="formData.subscriptionPeriod" data-ng-pattern="/^[a-zA-Z0-9\s]+$/"/></br>
    			            </div>
    			            <div class="col-sm-3">
    			                 <span  data-ng-show="createcontractform.subscriptionPeriod.$invalid">
              					 <small class="error" data-ng-show="editcontractform.subscriptionPeriod.$error.pattern">alphanumeric and spaces only!</small>
             					 </span>
					        </div>    
    			        </div>
    			        <div class="form-group">
    			            <label class="control-label col-sm-2" for="subscriptionType">{{ 'label.contract.contractype' | translate }}</label>
    			            <div class="col-sm-3">
    			                <select class="form-control" data-ng-model="formData.subscriptionType"  data-ng-options="allowedperiods.durationTypeCode as allowedperiods.durationTypeCode for allowedperiods in allowedperiods">
      		      				</select>
    			            </div>
    			        </div>
    			        <div class="form-group">
    			            	<label class="control-label col-sm-2" for="units">{{ 'label.contract.units' | translate }}</label>
    			            <div class="col-sm-3">
    			                <input type="text" id="units" name="units" class="form-control" data-ng-model="formData.units" data-ng-pattern="/^[1-9\s]+$/" data-ng-maxlength="3" data-late-Validate>
    			            </div>
    			             <div class="col-sm-3">
	    			            <span data-ng-show="editcontractform.units.$dirty && editcontractform.units.$invalid">
	              					<small class="error" data-ng-show="editcontractform.units.$error.pattern && !editcontractform.units.$error.maxlength">Units should not be 0 and not less than 0</small>
	                				<small class="error" data-ng-show="!editcontractform.units.$error.pattern && editcontractform.units.$error.maxlength">{{'error.code.definition.length.validation' | translate}}</small>  
	              				</span>
              				</div>
    			        </div>
		                  
    			        <div class="col-md-offset-3 pull-right">
    			            <a id="cancel" href="#/contract">
    			                <a href="#/contract"><button id="cancel" type="reset" class="btn">{{'button.cancel' | translate}}</button></a>
            					<button id="submit" type="submit" data-ng-disabled="editcontractform.$dirty && editcontractform.$invalid" class="btn btn-primary">{{'button.save' | translate}}</button>
    			        </div>
    			    </fieldset>
    		</form>
    	</div>
    </div>
</div>

