<div class="content-container" ng-controller="AssignedTicketController">
	<ul class=breadcrumb>
	</ul>
	<div class="card">
		<div class="content ptrbl0">
			<div class="toolbar ptb15 mrl15 bb1 mb20">
            	<h4 class="ptrbl0">{{'link.tickets' | translate}}</h4>
        	</div>
			<!-- <uib-tabset tabset-name="assignedticketsTabset"> -->
				<!-- <uib-tab heading="{{'label.heading.Open' | translate}}" select="getOpenTickets()"> -->
					<div>
						<div class="toolbar">
							<div class="row">
								<!-- <div class="col-md-3">
									<form rc-submit="searchTickets()" style="margin:30px 15px;">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div> -->
								<!-- <div class="form-group">
								 <label class="control-label col-sm-1" for="validFrom">{{'label.fromDate' | translate }}</label>
							     <div class="col-sm-2"> 
                                 	<input type="text" id="fromDate" class="form-control" data-ng-model="fromDate" datepicker-pop="dd MMM yyyy">
                                 </div>
                                </div>
                                 <label class="control-label col-sm-1" for="validFrom">{{'label.toDate' | translate }}</label>
                                 <div class="col-sm-2"> 
	                                 <input type="text" id="toDate" class="form-control" data-ng-model="toDate" datepicker-pop="dd MMM yyyy"
	                                        max="'2020-06-22'" date-disabled="disabled(date, mode)">
                                 </div>
                                 <label class="control-label col-sm-1" for="statusType">{{'label.statusType' | translate }}</label>
                                 <div class="col-sm-2"> 
	                                 <input type="text" id="statusType" class="form-control" data-ng-model="statusType" >
                                 </div>
                                 <label class="control-label col-sm-2" for="statusType">{{ 'label.statusType' | translate }}<span class="required" >*</span></label>
		 			            <div class="col-sm-2">
		 			                <select id="statusType" class="form-control" data-ng-model="statusTypes" 
		 			                		data-ng-options=" status.mCodeValue as status.mCodeValue for status  in statusDatas"
		 			                		value="{{status.mCodeValue}}"  ng-change="searchSource(statusTypes)"></select>
		 			            </div>
                                 <button class="btn primary_btn btn-disabled mrl10" type="submit"
                                         data-ng-click="getTrans(fromDate,toDate,statusTypes)">{{'label.button.search' | translate}}
                                 </button> -->
                                 <table class="table">
	                                 <tr>
	                                 	 <td>
		                                 	 <form rc-submit="searchTickets()" style="margin:30px 15px;">
											 <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
										     </form>
	                                 	 </td>
		                                 <td>
		                                     <label for="validFrom">{{'label.fromDate' | translate }}</label>
		                                     <input type="text" id="fromDate" class="form-control" data-ng-model="fromDate" datepicker-pop="dd MMM yyyy">
		                                 </td>
		                                 <td>
			                                 <label for="validFrom">{{'label.toDate' | translate }}</label>
			                                 <input type="text" id="toDate" class="form-control" data-ng-model="toDate" datepicker-pop="dd MMM yyyy"
			                                        max="'2020-06-22'" date-disabled="disabled(date, mode)">
		                                 </td>
		                                 <td>
		                                 <label for="statusType">{{ 'label.statusType' | translate }}<span class="required" >*</span></label>
					 			                <select id="statusType" class="form-control" data-ng-model="statusTypes" 
					 			                		data-ng-options=" status.mCodeValue as status.mCodeValue for status  in statusDatas"
					 			                		value="{{status.mCodeValue}}"  ng-change="searchSource(statusTypes)"></select>
		                                 </td>
		                                 <td>
			                                 <button class="btn primary_btn btn-disabled mrl10" valign="bottom" align="right" type="submit"
	                                                  data-ng-click="getTrans(fromDate,toDate,statusTypes)">{{'label.button.search' | translate}}
	                                         </button>
		                                 </td>
	                                 </tr>
                                 </table>
							</div>
						</div>
					</div>
                    <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                    
					<table class="table">
						<thead>
							<tr class="graybg">
		               			<th>{{'label.corporate'|translate}}</th>
		               			<th>{{'lable.ticket#'|translate}}</th>
		                		<th>{{'label.ticket.date'|translate}}</th>
		                		<th>{{'label.ticket.priority'|translate}}</th>
		                		<th>{{'label.ticket.category'|translate}}</th>
		                		<th>{{'label.createdBy'|translate}}</th>
		                		<th>{{'label.assignedto'|translate}}</th>
		                		<th>{{'label.closedby'|translate}}</th>
		                		<th>{{'label.ticket.status'|translate}}</th>
		                		<th>{{'label.timelapsed'|translate}}</th>
	            			</tr>	
						</thead>
						<tbody>
							<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
		               			<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
		               			<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
		                    	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
		                    	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
		                 		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
		                 		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
		                    	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
		                    	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
		                		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
		                    	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
	            			</tr>
						</tbody>
					</table>
					<ul class="pager">
        				<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
        				<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
					</ul>
				<!-- </uib-tab> -->
				<!-- <uib-tab heading="{{'label.heading.Working' | translate}}" select="getWorkingTickets()">
					<div>
						<div class="toolbar">
							<div class="row">
								<div class="col-md-6">
									<form rc-submit="searchTickets()" style="margin:30px 15px;">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div>
							</div>
						</div>
					</div>
                    <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
				    <table class="table">
					    <thead>
						    <tr class="graybg">
				               	<th>{{'label.corporate'|translate}}</th>
				               	<th>{{'lable.ticket#'|translate}}</th>
				                <th>{{'label.ticket.date'|translate}}</th>
				                <th>{{'label.ticket.priority'|translate}}</th>
				                <th>{{'label.ticket.category'|translate}}</th>
				                <th>{{'label.createdBy'|translate}}</th>
				                <th>{{'label.assignedto'|translate}}</th>
				                <th>{{'label.closedby'|translate}}</th>
				                <th>{{'label.ticket.status'|translate}}</th>
				                <th>{{'label.timelapsed'|translate}}</th>
		            		</tr>
					    </thead>
					    <tbody>
						    <tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
				               	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
				               	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
				                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
		            	    </tr>
					    </tbody>
				    </table>
				    <ul class="pager">
        				<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
        				<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
					</ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.Assigned' | translate}}" select="getAssignedTickets()">
					<div>
						<div class="toolbar">
							<div class="row">
								<div class="col-md-6">
									<form rc-submit="searchTickets()" style="margin:30px 15px;">
										<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
								</div>
							</div>
						</div>
					</div>
                    
                    <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
						<table class="table">
							<thead>
								<tr class="graybg">
					               	<th>{{'label.corporate'|translate}}</th>
					               	<th>{{'lable.ticket#'|translate}}</th>
					                <th>{{'label.ticket.date'|translate}}</th>
					                <th>{{'label.ticket.priority'|translate}}</th>
					                <th>{{'label.ticket.category'|translate}}</th>
					                <th>{{'label.createdBy'|translate}}</th>
					                <th>{{'label.assignedto'|translate}}</th>
					                <th>{{'label.closedby'|translate}}</th>
					                <th>{{'label.ticket.status'|translate}}</th>
					                <th>{{'label.timelapsed'|translate}}</th>
			            		</tr>
							</thead>
							<tbody>
								<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
					               	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
					               	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
					                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
			            	    </tr>
							</tbody>
						</table>
						<ul class="pager">
	        				<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
	        				<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
					    </ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.Over Due' | translate}}" select="getOverDueTickets()">
					<div>
						<div class="toolbar">
							<div class="row">
								<div class="col-md-6">
								    <form rc-submit="searchTickets()" style="margin:30px 15px;">
								    	<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
							    </div>
							</div>
						</div>
					</div>
                    
                    <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                    
					<table class="table">
						<thead>
							<tr class="graybg">
							    <th>{{'label.corporate'|translate}}</th>
							    <th>{{'lable.ticket#'|translate}}</th>
							    <th>{{'label.ticket.date'|translate}}</th>
							    <th>{{'label.ticket.priority'|translate}}</th>
							    <th>{{'label.ticket.category'|translate}}</th>
							    <th>{{'label.createdBy'|translate}}</th>
							    <th>{{'label.assignedto'|translate}}</th>
							    <th>{{'label.closedby'|translate}}</th>
							    <th>{{'label.ticket.status'|translate}}</th>
							    <th>{{'label.timelapsed'|translate}}</th>
				            </tr>
						</thead>
						<tbody>
							<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
							    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
				            </tr>
						</tbody>
					</table>
					<ul class="pager">
		        		<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
		        		<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
				    </ul>
				</uib-tab>
				<uib-tab heading="{{'label.heading.closed' | translate}}" select="getclosedTickets()">
					<div>
						<div class="toolbar">
							<div class="row">
								<div class="col-md-6">
								    <form rc-submit="searchTickets()" style="margin:30px 15px;">
								    	<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
									</form>
							    </div>
							</div>
						</div>
					</div>
                    
                    <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                    
					<table class="table">
					<thead>
						<tr class="graybg">
				            <th>{{'label.corporate'|translate}}</th>
							<th>{{'lable.ticket#'|translate}}</th>
						    <th>{{'label.ticket.date'|translate}}</th>
							<th>{{'label.ticket.priority'|translate}}</th>
							<th>{{'label.ticket.category'|translate}}</th>
							<th>{{'label.createdBy'|translate}}</th>
							<th>{{'label.assignedto'|translate}}</th>
							<th>{{'label.closedby'|translate}}</th>
							<th>{{'label.ticket.status'|translate}}</th>
							<th>{{'label.timelapsed'|translate}}</th>
					    </tr>
					</thead>
					<tbody>
					</tbody>
						<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
			                <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
						    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
						    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
							<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
					    </tr>
					</table>
					<ul class="pager">
			        	<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
			        	<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
				    </ul>
				</uib-tab> -->
			<!-- </uib-tabset> -->
		</div>
	</div>
</div>