<div class="content-container" ng-controller="ViewTicketController">
    <ul class="breadcrumb">
		<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
		<li><a href="#/viewclient/id/{{clientId}}" ng-click="reset123()">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
		<li class="active">{{'label.viewticket' | translate}}</li>
	</ul>

    <div class="card">
        <div class="content">
        	<div class="toolbar">
        		<h4>{{employee.displayName}}</h4>
        		<div class="pull-right">
        		    <div class="btn-group">
        		        <a  href="#/editTicket/{{clientId}}/{{ticket.id}}" ng-show="(ticket.status == 'OPEN')" has-permission="UPDATE_TICKET"  
        		        	class="btn btn-primary"><i class="fa fa-edit"></i>Add Comment</a>
	          			<a href="#/closeTicket/{{clientId}}/{{ticket.id}}" ng-show="(ticket.status == 'OPEN')" has-permission="CLOSE_TICKET" 
	          				class="btn btn-primary"><i class="fa fa-trash"></i> Close</a> 
        		    </div>
        		</div>
        	</div>
      			<div class="row">
      				<div class="col-md-6">
      			        <table class="table table-bordered table-striped">
             					<tr>
                 					<td>{{ 'label.id' | translate}}</td>
                 					<td>{{ticket.id}}</td>
               				</tr>
               				<tr>
                 					<td>{{ 'label.priority' | translate}}</td>
                 					<td>{{ticket.priority}}</td>
               				</tr>
               				<tr>
                 					<td>{{ 'label.source' | translate }}</td>
                 					<td>{{ticket.sourceOfTicket}}</td>
               				</tr>
               				<tr>
                 					<td>{{ 'label.status' | translate }}</td>
                 					<td>{{ticket.status}}</td>
               				</tr>
             				
             					<tr>
                 					<td>{{ 'label.ticketdate' | translate }}</td>
                 					<td>{{ticket.ticketDate | DateFormat}}</td>
               				</tr>
               				<tr>
                 					<td>{{ 'label.duedate' | translate }}</td>
                 					<td>{{ticket.dueDate}}</td>
               				</tr>
               				<tr>
                 					<td>{{ 'label.problemcode' | translate}}</td>
                 					<td>{{ticket.problemDescription}}</td>
               				</tr>
               				<tr>
                 					<td>{{ 'label.assignto' | translate }}</td>
                 					<td>{{ticket.userName}}</td>
               				</tr>
                        	</table>
      				</div>
      			</div>
        </div>
    </div>
</div>      
