<div class="content-container" ng-controller="CreateEventPriceController">
		<ul class="breadcrumb">
		    <li><a href="#/mediadetailseventpricing">{{'label.mediadetailseventpricing' | translate}}</a></li>
			<li><a href=#/viewEvent/{{formData.eventId}}>{{'label.viewevent'
					| translate}}</a></li>
			<li class="active">{{'label.addprice' | translate}}</li>
		</ul>
		<div class="card">
    		<div class="content">
    			<div class="toolbar">
    			 	<h4>{{'label.addprice' | translate}}</h4>
    			</div>
	<form name="addeventpriceform" class="form-horizontal"  ng-submit="submit()">
		<api-validate></api-validate>
    		<fieldset>
	 		<div class="form-group">
				<label class="control-label col-sm-2" for="eventId"> {{'label.eventid' | translate }}</label>
				<div class="col-sm-3">
					<input type="text" id="eventId" class="form-control" ng-model="formData.eventId" readonly>
				</div>
				<label class="control-label col-sm-2" for="clientTypes"> {{'label.clienttype' | translate }}</label>
				<div class="col-sm-3">
					<select ng-model="formData.clientType" class="form-control"
						ng-options="clientType.id as clientType.type for clientType in ClientTypes"
						value="{{clientType.id}}">
					</select>
				</div>
			</div>
				
			<div class="form-group" ng-show="hideForGame">
				<label class="control-label col-sm-2" for="formatType"> {{'label.formattype' | translate }}</label>
				<div class="col-sm-3">
					<select ng-model="formData.formatType" class="form-control"
						ng-options="formats.formatType as formats.formatType for formats in Format"
						value="{{formats.formatType}}">
					</select>
				</div>
				<label class="control-label col-sm-2" for="discountId">{{'label.discountcode' | translate }}</label>
				<div class="col-sm-3">
					<select ng-model="formData.discountId" class="form-control"
						ng-options="discountdata.id as discountdata.discountDescription for discountdata in Discountdatas"
						value="{{discountdata.id}}">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="optType">{{'label.opttype' | translate }}</label>
				<div class="col-sm-3">
					<select ng-model="formData.optType" class="form-control"
						ng-options="optType.value as optType.value for optType in OptTypes"
						value="{{optType.value}}">
					</select>
				</div>
				<label class="control-label col-sm-2" for="price">{{'label.amount' | translate }}</label>
				<div class="col-sm-3">
					<input type="text" id="eventValidity" class="form-control" name="amount"
						ng-model="formData.price" data-ng-pattern="/^[0-9]/"></br>
					<span data-ng-show="addeventpriceform.amount.$dirty && addeventpriceform.amount.$invalid">
						<small class="error" data-ng-show="addeventpriceform.amount.$error.pattern">{{'error.not.numeric.validation' | translate }}</small>
					</span>
				</div>
			</div>
			<div class="col-md-offset-10">
				<a href="#/viewEvent/{{formData.eventId}}"><button type="reset" class="btn">{{'button.cancel' | translate}}</button></a>
				<button type="submit" data-ng-disabled="addeventpriceform.$dirty && addeventpriceform.$invalid" 
					class="btn btn-primary">{{'button.save' | translate}}</button>
			</div>
			</fieldset>
		</form>
 		</div>
 	</div>
 </div>
 