<div class="content-container" data-ng-controller="CreateVoucherPinController">
  <ul class="breadcrumb">
      <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
      <li><a href="#/voucherpins">{{'label.ManageVoucherpins' | translate}}</a></li>
      <li class="active">{{'label.createvoucherpin' | translate}}</li>
  </ul>
  <div class="card">
    <div class="content">
     <div class="toolbar">
       <h4>{{'label.createvoucherpin' | translate}}</h4>
     </div>
     <form name = "createVoucherForm" class="form-horizontal" data-ng-submit="submit()">
     	<api-validate></api-validate>
   		 <fieldset>
   		 <br>
   		   <div class="form-group">
   		    <div class="col-sm-3">
          		<label class="control-label col-sm-2" style="margin-right: 69px;">Voucher</label>
          		<div class="col-sm-1">
         		<input type="radio" name="voucherSelectionType" data-ng-change="radioTypeSelection()" data-ng-model="voucherType" value="voucher"/>
         		</div>
         	</div>
	         <div class="col-sm-3">
	         	<label class="control-label col-sm-2" style="margin-right: 69px;">Coupon</label>
	         	<div class="col-sm-1">
	         		<input type="radio" name="voucherSelectionType" data-ng-change="radioTypeSelection()" data-ng-model="voucherType" value="coupon"/>
	         	</div>
       		 </div>
   		   </div>
   		   
   		   <div class="form-group">
   		     <label class="control-label col-sm-2" for="batchName">{{ 'label.batchName' | translate }}<span class="required">*</span></label>
				<div class="col-sm-3">
					 <input type="text" id="batchName" class="form-control" data-ng-model="formData.batchName">
				</div>
				<label class="control-label col-sm-2" for="officeId">{{ 'label.office' | translate }}<span class="required">*</span></label>
				<div class="col-sm-3">
 				 	<select id="officeId" data-ng-model="formData.officeId" class="form-control"  data-ng-options="office.id as office.name for office in offices" >
 				 	        <option value="">{{'label.select.one' | translate}}</option>
 				 	</select>
				</div>
   		   </div>
   		   
   		   <div class="form-group">
   		     <label class="control-label col-sm-2" for="length">{{ 'label.lengthOfPin' | translate }}<span class="required">*</span></label>
				<div class="col-sm-3">
					 <input type="text" id="length" class="form-control" name="length" data-ng-model="formData.length" data-ng-pattern="/^[0-9]/"><br/>
					 <span data-ng-show="createVoucherForm.length.$dirty && createVoucherForm.length.$invalid">
						<small class="error" data-ng-show="createVoucherForm.length.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
   					</span>
				</div>
				
				<label class="control-label col-sm-2" for="beginWith">{{ 'label.beginWith' | translate }}<span class="required">*</span></label>
				<div class="col-sm-3">
 				 	<input type="text" id="beginWith" class="form-control" data-ng-model="formData.beginWith">
 				 	<small class="error" data-ng-show="lengthValidationError">{{'form.error.voucher.no.length.match.exception'|translate}}</small>
				</div>
   		   </div>
   		   
   		   <div class="form-group">
   		     <label class="control-label col-sm-2" for="pinCategoryData">{{ 'label.pinCategory' | translate }}<span class="required">*</span></label>
				<div class="col-sm-3">
					 <select data-ng-model="formData.pinCategory" class="form-control" id="pinCategory" data-ng-options="pinCategoryData.value as pinCategoryData.value for pinCategoryData in pinCategoryDatas">
           			         <option value="">{{'label.select.one' | translate}}</option>
           			</select>
				</div>
				
				<label class="control-label col-sm-2" for="quantity">{{ 'label.quantity' | translate }}<span class="required">*</span></label>
				<div class="col-sm-3">
 				 	<input type="text" id="quantity" name="quantity" class="form-control" data-ng-model="formData.quantity" data-ng-pattern="/^[0-9]/"><br/>
 				 	<span data-ng-show="createVoucherForm.quantity.$dirty && createVoucherForm.quantity.$invalid">
						<small class="error" data-ng-show="createVoucherForm.quantity.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
   					</span>
				</div>
   		   </div>
   		   
   		   <div class="form-group">
   		     <label class="control-label col-sm-2" for="serialNo">{{ 'label.serialNoLength' | translate }}<span class="required">*</span></label>
				<div class="col-sm-3">
					<input type="text" id="serialNo" name="serialNo" class="form-control" data-ng-model="formData.serialNo" data-ng-pattern="/^[0-9]/"><br/>
					<span data-ng-show="createVoucherForm.serialNo.$dirty && createVoucherForm.serialNo.$invalid">
						<small class="error" data-ng-show="createVoucherForm.serialNo.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
   					</span>
				</div>
				<div data-ng-if="voucherType=='voucher'">
					<div class="form-group">
   						<label class="control-label col-sm-2">{{ 'label.pinType' | translate }}<span class="required">*</span></label>
   						<div class="col-sm-3">
     						<select data-ng-model="formData.pinType" id="pinType" class="form-control" data-ng-change="setPinValue()" data-ng-options="pinTypeData.value as pinTypeData.value for pinTypeData in pinTypeDatas">
     						</select>
   						</div>
    				</div>
				</div>
				<div data-ng-if="voucherType=='coupon'">
					<div class="control-group">
        				<label class="control-label col-sm-2">{{ 'label.promotion' | translate }}<span class="required">*</span></label>
       					<div class="col-sm-3">
       						<select data-ng-model="formData.pinValue" id="promotionValue" class="form-control" data-ng-options="promotionData.id as promotionData.promotionDescription for promotionData in promotionDatas">
       						</select>
       					</div>
      				</div>
				</div>
				
   		   </div>
   		   
			<div class="form-group">
	           <label class="control-label col-sm-2">{{ 'label.expiryDate' | translate }}<span class="required">*</span></label>
				<div class="col-sm-3">
					<input type="text" data-datepicker-pop="dd MMMM yyyy" id="expiryDate" class="form-control" readonly data-ng-model="start.date"  data-is-open="opened2" min="minDate" max="'2020-06-22'" 
						data-date-disabled="disabled(date, mode)" style="background-color:#FFFFFF;" />
				</div>
				<div data-ng-if="voucherType=='voucher'">
					<div class="form-group">
					   <div class="col-sm-3" style="line-height: 10px;">
							<input data-ng-show = "formData.pinType=='VALUE'" class="form-control" type="text" id="pinValue" name="pinValue" data-ng-model="formData.pinValue" data-ng-pattern="/^[0-9]/"/>
 							<select data-ng-show="formData.pinType=='PRODUCT'"  class="form-control" id="productValue" data-ng-model="formData.pinValue"  data-ng-options="planPriceData.id as planPriceData.plan_duration for  planPriceData in planPriceData">
 							</select>
 							<span data-ng-show="createVoucherForm.pinValue.$dirty && createVoucherForm.pinValue.$invalid">
 								<small class="error" data-ng-show="createVoucherForm.pinValue.$error.pattern">{{'error.not.numeric.validation' | translate}}</small>
 							</span>
						</div>
         			</div>
         	   </div>
			</div>
			
			<div class="col-md-offset-9 pull-right">
	            <a href="#/voucherpins"><button id="cancel" type="reset" class="btn ">{{'button.cancel'| translate}}</button></a>
	            <button id="submit" type="submit" class="btn btn-primary " data-ng-disabled="createVoucherForm.$dirty && createVoucherForm.$invalid">{{'button.save'| translate}}</button>
				<!-- <button  id="submit" type="submit" class="btn btn-primary" data-ng-disabled="createVoucherForm.$dirty && createVoucherForm.$invalid">{{'button.save'| translate}}</button>  -->
    	  </div>
 		</div>
   		 </fieldset>
   	  </form>
   	</div>
  </div>
</div> 	
  