<div class="content-container" ng-controller="EditMediaController">
        <ul class="breadcrumb">
              <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
              <li><a href="#/mediadetailseventpricing">{{'label.mediadetailseventpricing' | translate}}</a></span></li>
              <li class="active">{{'label.media.editmedia' | translate}}</li>
          </ul>
      <div class="card">
        <div class="content">
          <div class="toolbar">
    			<h4>{{'label.media.editmedia' | translate}}</h4>
    		</div>
      			<form class="form-horizontal" name="editmediaform" novalidate="" ng-submit="submit()">
                 <api-validate></api-validate>
        			<fieldset>
						<div class="form-group">
            				<label class="control-label col-sm-2" for="mediaTitle">{{ 'label.media.title' | translate }}<span class="required">*</span></label>
            			<div class="col-sm-3">
              				<input type="text" id="mediaTitle" class="form-control" ng-model="formData.mediaTitle">
            			</div>
            				<label class="control-label col-sm-2" for="mediaCategoryId">{{ 'table.mediadetails.categeory' | translate }}<span class="required">*</span></label>
	            			<div class="col-sm-3">
	              				<select ng-model="formData.catageoryId" class="form-control" id="catageoryId" ng-options="mediaCategeorydata.id as mediaCategeorydata.mCodeValue for mediaCategeorydata in mediaCategeorydatas" value="{{mediaCategeorydata.id}}"></select>
	            			</div>
          				</div>
					    <div class="form-group">
            				<label class="control-label col-sm-2" for="contentProvider">{{ 'label.media.contentprovider' | translate }}</label>
	            			<div class="col-sm-3">
	            				<select   id="contentProvider" class="form-control" ng-model="formData.contentProvider" ng-options="contentProviderData.id as contentProviderData.mCodeValue for contentProviderData in contentProviderDatas " value="{{contentProviderData.id}}"></select>
	            			</div>
			    			<label class="control-label col-sm-2" for="cpShareValue">Share(%)</label>
				  			<div class="col-sm-3">
								<input type="text" id="cpShareValue" class="form-control" name="cpShareValue" ng-model="formData.cpShareValue"  ng-pattern="/^\d{0,2}(\.\d{0,2})?$/" ></input>
								<div ng-show="editmediaform.cpShareValue.$dirty && editmediaform.cpShareValue.$invalid">
	               					<span class="error" ng-show="editmediaform.cpShareValue.$error.pattern">Numbers below 100 only !</span>
	               					<span class="error" ng-show="editmediaform.cpShareValue.$error.maxlength">Exceeded max limit!</span>
	           					</div>
							</div>
						</div>
					    <div class="form-group">
           					<label class="control-label col-sm-2" for="medialocation">Media Location<span class="required">*</span></label>
           					<div class="col-sm-3">
       							<input type="text" class="form-control" style="width:610px;" ng-model="formData.location">
           					</div>
          				</div>
          				<div class="form-group">
            				<label class="control-label col-sm-2" for="status">{{ 'label.media.status' | translate }}<span class="required">*</span></label>
	            			<div class="col-sm-3">
	           					<select ng-model="formData.status" class="form-control" id="status" ng-options="mediaStatus.value as mediaStatus.value for mediaStatus in mediaStatus" value="{{mediaStatus.value}}"></select>
	            			</div>
          				</div>
			          <div class="offset3" align="right">
			            <a href="#/mediadetailseventpricing"><button id="cancel" type="reset" class="btn">{{ 'button.cancel' | translate }}</button></a>
			            <button id="submit" type="submit" class="btn btn-primary">{{ 'button.save' | translate }}</button>
			          </div>
        		</fieldset>
      		</form>
      
      </div>
    </div> 
 </div>
