<div class="content-container" ng-controller="ReferalController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li class="active">{{'label.anchor.referalmaster' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
					<div class="col-md-9">
                    	<input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" 
                    		placeholder="{{'label.input.filterbyname' | translate}}">
                	</div>
					<!-- <div class="col-md-3">
	                    <a ng-show="isTreeView" ng-click="isTreeView=!isTreeView" class="btn btn-primary"><i class="fa fa-list ">
	                    	</i>{{'label.button.listview' | translate}}</a>
	                    <a ng-hide="isTreeView" ng-click="isTreeView=!isTreeView" class="btn btn-primary"><i class="fa fa-sitemap ">
	                    	</i>{{'label.button.treeview' | translate}}</a>
	                    <a href="#/createreferal" class="btn btn-primary" has-permission='CREATE_REFERAL'><i class="fa fa-plus ">
	                    	</i>{{'label.button.createreferal' | translate}}</a>
                	</div> --><br><br>
                	<div>
						<div
							data-angular-treeview="true"
							data-tree-id="treeview"
							data-tree-model="treedata"
							data-node-id="id"
							data-gl-code="totalAmount"
							data-node-label="name"
							data-node-children="children" image-view="viewImg(image)">
						</div>
					</div>
					<br/>
                	<div>
						<table class="table">
							<thead>
								<tr class="graybg">
									<th>{{ 'label.name' | translate }}</th>
									<th>Referal Code</th>
									<th>{{ 'label.parentreferal' | translate }}</th>
									<th>{{ 'label.openedon' | translate }}</th>
									<th>Total Amount</th>
									<th>Referal Count</th>
									<th>Total Payments</th>
									<th>Total Payments By Referals</th>
									<!-- <th>{{ 'label.balance.amount' | translate }}</th>  -->
									<!-- <th>{{ 'label.actions' | translate }}</th> -->
								</tr>
							</thead>
							<tbody>
								<tr class="pointer-main" data-ng-repeat="referal in referals  | filter:filterText">
									<td class="pointer" data-ng-click="routeTo(referal.externalId)">{{referal.name}}</td>
									<td class="pointer" data-ng-click="routeTo(referal.externalId)">{{referal.externalCode}}</td>  
									<td class="pointer" data-ng-click="routeTo(referal.externalId)">{{referal.parentName}}</td>
									<td class="pointer" data-ng-click="routeTo(referal.externalId)">{{referal.openingDate | DateFormat}}</td>
									<td class="pointer" data-ng-click="routeTo(referal.externalId)">{{referal.totalAmount | number : 2}}</td>
									<td class="pointer" data-ng-click="routeTo(referal.externalId)">{{referal.referalCount}}</td>
									<td class="pointer" data-ng-click="routeTo(referal.externalId)">{{referal.totalPayments | number : 2}}</td>
									<td class="pointer" data-ng-click="routeTo(referal.externalId)">{{referal.totalPaymentsByReferals | number : 2}}</td>
									<!-- <td class="pointer" data-ng-click="routeTo(referal.id)">{{referal.balance}}</td> -->
									<!-- <td><a has-permission='UPDATE_REFERAL' href="#/editreferal/{{referal.id}}" data-uib-popover="Edit Referal" 
										data-popover-trigger="mouseenter"><i class="fa fa-edit"></i></a></td> -->
								</tr>
							</tbody>
						</table>
					</div>
					
        </div>
    </div>
</div>
<script type="text/ng-template" id="photo-dialog.html">
        <div class="modal-header silver">
            <img ng-src="{{largeImage}}" alt="Avatar">
        </div>
        <div class="modal-body ">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
        </div>
    </script>