<style>
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
</style>
<div class="content-container" ng-controller="ViewOfficeController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.masters' | translate}}</a></li>
        <li><a href="#/offices">{{'label.manageorganization' | translate}}</a></li>
        <li class="active">{{office.name}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <uib-tabset class="overflowhidden marginbottom0 scrollable" tabset-name="officeTabset" scrollable>
                <uib-tab heading="{{'label.heading.general' | translate}}">
                    <div class="container-fluid">
                        <div class="col-md-12 col-sm-12">
                            <div class="row primarydiv">
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <a href="#/editoffice/{{office.id}}" class="btn btn-primary" has-permission='UPDATE_OFFICE'><i class="fa fa-edit "></i>{{
                                            'label.button.edit' | translate }}</a>
                                    </div>
                                    <div class="btn-group" ng-if="office.isEnabled == 'Y'">
                                        <a data-ng-click="disableConfirmation()" class="btn btn-primary"><i class="fa fa-trash-o "></i>{{
                                            'label.button.disable' | translate }}</a>
                                    </div>
                                    <div class="btn-group" ng-if="office.isEnabled == 'N'">
                                        <a data-ng-click="enableConfirmation()" class="btn btn-primary"><i class="fa fa-trash-o "></i>{{
                                            'label.button.enable' | translate }}</a>
                                    </div>
                                </div>
                            </div>
                           
                            <h3><strong>{{office.name}}</strong></h3>
                            <div class="row">
                            <div class="col-md-6">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td>{{ 'label.businesstype' | translate }}</td>
                                    <td>{{office.businessType}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.orgcode' | translate }}</td>
                                    <td>{{office.externalId}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.orgname' | translate }}</td>
                                    <td>{{office.nameDecorated | DotRemove}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.orgtype' | translate }}</td>
                                    <td>{{office.officeType}}</td>
                                </tr>
                                
                                <tr>
                                    <td>{{ 'label.parentorg' | translate }}</td>
                                    <td>{{office.parentName}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.orgopenedon' | translate }}</td>
                                    <td>{{office.openingDate | DateFormat}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.contactperson' | translate }}</td>
                                    <td>{{office.contactPerson}}</td>
                                </tr>
                                </table>
                              </div>
                           	<div class="col-md-6">
                               	<table class="table table-bordered table-striped">
                                <tr>
                                    <td>{{ 'label.phonenumber' | translate }}</td>
                                    <td>{{office.phoneNumber}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.addressname' | translate }}</td>
                                    <td>{{office.addressName}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.heading.city/area' | translate }}</td>
                                    <td>{{office.city}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.heading.state' | translate }}</td>
                                    <td>{{office.state}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.heading.country' | translate }}</td>
                                    <td>{{office.country}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.heading.email' | translate }}</td>
                                    <td>{{office.email}}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'label.zip' | translate }}</td>
                                    <td>{{office.zip}}</td>
                                </tr>
                            </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Entity Images" select="uploadsTab()">
                    <div class="content-container">
                        <div class="card">
                            <div class="content">
                                <br>
                                <div class="row">
	                                <div ng-repeat="img in imageArr" class="col-md-2" ng-hide="imageLoader">
	                                  <div class="prl0 tc avatarDiv">
					                       <img src="{{img.image}}" alt="{{img.name}}" width="120"  class="avatar">
					                       <span class="top-right" style="cursor: pointer;" ng-click="deleteImg(img.name, $index)"><i class="fa fa-window-close-o"></i></span>
					                 </div>
					                </div>
					                <div ng-show="imageLoader"><h2 style="text-align: center;color: blue;">Loading images...</h2></div>
					            </div>
				                <br>
					            <form name="entityUploadform" novalidate="" class="form-horizontal" >
					                <api-validate></api-validate>
					                <div uib-alert type="danger" ng-show="isError">
				                      <div >
				                        <label><i class="fa fa-exclamation-circle"></i>
				                        </label>
				                       <label>{{errorTxt}}</label><br />
				                       </div>
				                    </div>
					                <fieldset>
					                    <div class="form-group">
					              			<label class="control-label col-sm-2 pt0" >Browse Images to Upload</label>
					              			<div class="col-sm-3">
					                			<input type="file" name="file" ngf-select="onFileSelect($files)" accept="image/*" multiple>
					              			</div>
					              			<!-- <a  class="btn btn1 ng-binding" ng-click="uploadImage()"><i class="fa fa-upload"></i>Upload</a> -->
					            		</div>
					            		
					            		<!-- <div class="form-group">
					              			<label class="control-label col-sm-2 pt0" >Browse Image to Upload</label>
					              			<div class="col-sm-3">
					                			<input type="file" name="file" ngf-select="onFileSelect($files)" accept="image/*">
					              			</div>
					              			<a  class="btn btn1 ng-binding" ng-click="uploadImage()"><i class="fa fa-upload"></i>Upload</a>
					            		</div> -->
					                      
					                    <div class="col-md-offset-2 pt15">
					                    		<a class="btn primary_btn" ng-click="uploadImage()"><i class="fa fa-upload"></i> Upload </a>
					                    </div>
					                </fieldset>
					        </form>

                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Payments" select="paymentsTab()">
                    <div class="content-container">
                        <div class="card">
                            <div class="content">
                                <br>
            <form name="confirmPaymentform" novalidate="" class="form-horizontal" >
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="officeName">Office Name</label>
                        <div class="col-sm-3">
                             <input type="text" id="officeName" name="officeName" class="form-control" data-ng-model="office.name" ng-disabled="true"/></br>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-sm-2" for="confirmOTP">OTP</label>
                        <div class="col-sm-3">
                            <input type="text" id="confirmOTP" name="confirmOTP" class="form-control" data-ng-model="confirmOTP"  required data-late-Validate>
                            <span data-ng-show="confirmPaymentform.confirmOTP.$invalid">
                               <small class="error" data-ng-show="confirmPaymentform.confirmOTP.$error.req">
                                  OTP should not be blank
                               </small>
                           </span>
                        </div>
                    </div>
                      
                    <div class="col-md-offset-3">
                            <a ng-click="confirmOtpSubmit(confirmOTP)" data-ng-disabled="!confirmOTP" class="btn btn-primary">Submit</a>
                    </div>
                </fieldset>
        </form>
        <br/>
        <div ng-if="financialPayments.currentPageItems.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>{{'label.transactionId' | translate}}</th>
                    <th>{{'label.transaction.date' | translate}}</th>
                    <th>{{'label.transaction.type' | translate}}</th>
                    <th>{{'label.transaction.category' | translate}}</th>
                    <th>{{'label.creditamount' | translate}}</th>
                    <th>{{'label.denitamount' | translate}}</th>
                    <th>Status</th>
                    <th>{{'table.actions' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="financialtransaction in financialPayments.currentPageItems  | filter:filterText" data-ng-show="financialtransaction.transactionType =='PAYMENT' || financialtransaction.transactionType =='PAYMENT CANCELED'"> 
                    <td>
                        <any>{{financialtransaction.clientName}}</any>
                    </td>
                    <td>
                        <any>{{financialtransaction.transactionId}}</any>
                    </td>
                    <td>
                        <any>{{financialtransaction.transDate | DateFormat}}</any>
                    </td>
                    <td>
                        <any>{{financialtransaction.transactionType}}</any>
                    </td>
                    <td>
                        <any>{{financialtransaction.transactionCategory}}</any>
                    </td>
                    <td>
                        <any>{{financialtransaction.creditAmount}}</any>
                    </td>
                    <td>
                        <any>{{financialtransaction.amount}}</any>
                    </td>
                    <td>
                        PENDING
                    </td>
                    <td>
                        <span>
                            <a 
                                data-ng-click="confirmPayment(financialtransaction.transactionId, financialtransaction.clientId)" 
                                    uib-popover="Confirm Payment" popover-trigger="mouseenter"><i class="fa fa-check"></i></a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li class="previous"><a data-ng-click="financialPayments.previous()" href="" 
                data-ng-disabled="!financialPayments.hasPrevious()">&larr; {{'label.prev' | translate}}</a></li>
            <li class="next" ><a data-ng-click="financialPayments.next()" href="" 
                data-ng-disabled="!financialPayments.hasNext()">{{'label.next' | translate}} &rarr;</a></li>
        </ul>
        </div>
        <div ng-if="financialPayments.currentPageItems.length == 0">
            <h3 class="col-md-offset-3"><strong>No payment list available...!</strong></h3>
        </div>

                            </div>
                        </div>
                    </div>


                </uib-tab>
                <uib-tab heading="{{officedatatable.registeredTableName}}" ng-repeat="officedatatable in officedatatables"
                     select="dataTableChange(officedatatable)" has-permission='READ_{{officedatatable.registeredTableName}}'>
                    <div>
                        <div class="btn-group pull-right">
                            <a ng-show="datatabledetails.isData" class="btn btn-danger pull-right"
                               ng-click="deleteAll(officedatatable.registeredTableName, office.id)" has-permission='DELETE_{{officedatatable.registeredTableName}}'><i
                                    class="fa fa-trash "></i>{{'label.button.deleteall' | translate}}</a>
                            <a data-ng-show="showDataTableAddButton"
                               ng-href="#/makedatatableentry/{{officedatatable.registeredTableName}}/{{office.id}}?fromEntity=office"
                               class="btn btn-primary" has-permission='CREATE_{{officedatatable.registeredTableName}}'><i
                                    class="fa fa-plus "></i>{{'label.button.add' | translate}}</a>
                            <a data-ng-show="showDataTableEditButton"
                               ng-href="#/viewsingledatatableentry/{{officedatatable.registeredTableName}}/{{office.id}}?mode=edit"
                               class="btn btn-primary" has-permission='UPDATE_{{officedatatable.registeredTableName}}'><i
                                    class="fa fa-edit "></i>{{'label.button.edit' | translate}}</a>
                        </div>
                        <br>
                        <br>

                        <div ng-show="datatabledetails.isData">
                            <table class="table" data-ng-show="datatabledetails.isMultirow">
                                <thead>
                                <th ng-repeat="column in datatabledetails.columnHeaders">{{column.columnName | prettifyDataTableColumn}}</th>
                                </thead>
                                <tbody>
                                <tr class="pointer-main" ng-repeat="data in datatabledetails.data">
                                    <td class="pointer" ng-repeat="row in data.row track by $index"
                                        ng-click="viewDataTable(officedatatable.registeredTableName,data)">{{row}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered width450px" data-ng-hide="datatabledetails.isMultirow">
                                <tr ng-repeat="value in singleRow">
                                    <td class="graybg table-font-nav">{{value.key | prettifyDataTableColumn}}</td>
                                    <td><span class="padded-td">{{value.value}}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <script type="text/ng-template" id="confirmPaymentPopup.html">
        <div class="modal-header silver">
            <h3 class="bolder">Confirm Payment</h3>
        </div>

        <div class="modal-body style="height:60px;">
            <h4>Are you sure?</h4>
        </div>

        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="approve()" ng-disabled="flagconfirmpayment">{{'label.confirm' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="deleteImg.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete Image</h3>
                    </div>
                    <div class="modal-body" modal-middle>
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approveDelete()">Yes, Delete</button>
                    </div>
      </script>

    <script type="text/ng-template" id="disableoffice.html">
        <div class="modal-header silver">
            <h3 class="bolder">Disable Office</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancelDisableOffice()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="disableOffice()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="enableoffice.html">
        <div class="modal-header silver">
            <h3 class="bolder">Enable Office</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <button class="btn btn-warning" ng-click="cancelEnableOffice()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="enableOffice()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
</div>