<div class="content-container" ng-controller=InventoryController>
    <ul class="breadcrumb">
		<li class="active">{{'label.inventory' | translate}}</li>
	</ul>
	
	<div class="content ptrbl0">
        <div class="card mb15 pb20">
			<div class="toolbar ptb15 mrl15 bb1 mb20">
				<h4 class="ptrbl0">{{ 'label.inventory' | translate }}</h4>
			</div>
			<!-- Tabs Starts here -->
			<uib-tabset tabset-name="inventoryTabset">
				<!--Item Details Tab  -->
				
				<uib-tab heading="{{'label.heading.itemdetails' | translate}}" select="getItemdetails()">
					<!-- <div class="pull-right btn-group">
			          	<a as-permission="CREATE_INVENTORY" href="#/createitemdetails" 
			          		class="btn btn-primary"><i class="fa fa-plus"></i>{{ 'button.additemdetails' | translate }}</a>
			        </div> -->
			        <div  has-permission="READ_ITEMDETAILS">
				    </div>
			        <div class="clearfix mb20">
			        	<form ng-submit="searchItemDetails(filterText)" style="margin:30px 0;">
				        	<div class="col-md-2">
					        	<input ng-model="filterText" type="text" class="form-control" placeholder="Enter text to Search#">
					        </div>
					        <div class="col-md-1">
					          	<select ng-model="source" class="form-control" ng-change="searchSource(source)">
					              <option value="ALL">ALL</option>
					              <option value="Available">Available</option>
					              <option value="UnAvailable">UnAvailable</option>
					              <option value="In use">In Use</option>
					    	  	</select>
					    	  </div>
					    	  <div class="col-md-2">
					    	  	<select ng-model="officeName" class="form-control" 
					    	  		ng-options="officeData.name as officeData.name for officeData in officeDatas"  
					    	  			ng-change="searchSource(officeName)">
					    	  		<option value="">--select office--</option>
					    	  	</select>
					    	  </div>
					    	  <div class="col-md-2">
					    	  	<select ng-model="itemCode" class="form-control"
					    	  		ng-options="itemMasterData.itemCode as itemMasterData.itemCode for itemMasterData in itemMasterDatas"  
					    	  			ng-change="searchSource(itemCode)">
					    	  		<option value="">--select item--</option>
					    	  	</select>
					    	  </div>
					    	  <div class="col-md-2 btn-group">
				          			<a as-permission="CREATE_ITEMDETAILS" href="#/createitemdetails" 
				          				class="btn primary_btn"><i class="fa fa-plus"></i>{{ 'button.additemdetails' | translate }}</a>
			        		  </div>
			        		  <div class="col-md-2 btn-group">
			          			<a  href="#/uploadandprocessitemdetails" 
			          				class="btn btn1"><i class="fa fa-upload"></i>{{ 'button.uploadandprocess' | translate }}</a>
			        		  </div>
				        	</form>
			        </div>
                    <div class="borderMain">
                        <div class="borderBottom"></div>
                        <div class="borderTop"></div>
                    </div>
				        <table class="table table-striped">
				            <thead>
				              <tr>
				                <th>{{'label.office' | translate}}</th>
				                <th>{{'label.itemcode' | translate}}</th>
				                <th>{{'label.serialnumber' | translate}}</th>
				                <th>{{'label.provserialnumber' | translate}}</th>
				              	<th>{{'label.supplier' | translate}}</th>
				                <th>{{'label.quality' | translate}}</th>
				                <th>{{'label.status' | translate}}</th>
				                 <th>{{'label.pairingwith' | translate}}</th>
				                 <th>{{'label.model' | translate}}</th>
				                 <th>{{'label.allocated' | translate}}</th>
						         <th>{{'table.actions' | translate}}</th>
				              </tr>
				            </thead>
				            <tbody>
				              <tr class="pointer-main" ng-repeat="itemdetail in itemdetails.currentPageItems  | filter:filterText">
				              	<td class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">{{itemdetail.officeName}}</td>
				              	<td class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">{{itemdetail.itemDescription}}</td>
				              	<td class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">{{itemdetail.serialNumber}}</td>
				              	<td class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">{{itemdetail.provisioningSerialNumber}}</td>
				              	<td class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">{{itemdetail.supplier}}</td>
				                <td class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">{{itemdetail.quality}}</td>
				                <td class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">{{itemdetail.status}}</td>
				                <td class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">{{itemdetail.pairedItemCode}}</td>
				                <td class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">{{itemdetail.itemModel}}</td>
				                <td ng-show="itemdetail.accountNumber" class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">
				                	{{itemdetail.accountNumber}}</td>
				                <td ng-hide="itemdetail.accountNumber" class="pointer" data-ng-click="routeTo(itemdetail.accountNumber)">
				                	In Stock</td>
				                <td>
				                	<a ng-show="(itemdetail.clientId)" has-permission="UPDATE_ITEMDETAILS" 
				                		ng-click="editProvSerial(itemdetail.id,itemdetail.quality,itemdetail.provisioningSerialNumber,itemdetail.itemModel)"
				                                 uib-popover="Edit Provisioning" popover-trigger="mouseenter" class="fa fa-edit"></a>
				                	<a ng-show="(!itemdetail.clientId)" has-permission="UPDATE_ITEMDETAILS" 
				                		ng-click="editQuality(itemdetail.id,itemdetail.quality,itemdetail.provisioningSerialNumber,itemdetail.serialNumber,itemdetail.itemModel)"
				                                 uib-popover="Edit Item Details" popover-trigger="mouseenter" class="fa fa-edit"></a>
                                                 <a has-permission="READ_ITEMDETAILS" 
				                	ng-click="itemHistoryPopup(itemdetail.serialNumber)" uib-popover="View Track" popover-trigger="mouseenter" 
				                		class="fa fa-search"></a>
                                         
				              		  <a ng-show="(!itemdetail.clientId)" has-permission="DELETE_INVENTORY" 
				              		  	ng-click="deleteItemDetail(itemdetail.id)" uib-popover="DeleteItemDetails" popover-trigger="mouseenter" 
				              		  		class="fa fa-times"></a>&nbsp;
				                </td>
				     		 </tbody>
				          </table>
			       			<ul class="pager">
			        			<li class="previous"><a ng-click="itemdetails.previous()" href="" 
			        				ng-disabled="!itemdetails.hasPrevious()">&larr; Prev</a></li>
			        			<li class="next" ><a ng-click="itemdetails.next()" href="" ng-disabled="!itemdetails.hasNext()">
			        				Next &rarr;</a></li>
			    			</ul>
				</uib-tab>
				<uib-tab heading="{{'tab.goodsreceipt' | translate}}" select="getGRNdetails()" active="grnTab" >
			        <div class="pull-right mrl15 mb20">
			          <a has-permission="CREATE_GRN" href="#/addgrndetails" class="btn primary_btn"><i class="fa fa-plus"></i>
			          		{{ 'button.addgoodreceipt' | translate }}</a>
			        </div>
			        <div has-permission="READ_GRN">
			        </div>
			        <div class="row-fluid">
				        <form ng-submit="searchGRN(filterText)" style="margin:30px 0;">
				        <div class="col-md-5">
				        	<input ng-model="filterText" type="text" class="form-control mb20" placeholder="Enter text to search#">
				        </div>
				       	</form>
                        <div class="clear"></div>
                        
                        <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                        
				        <table class="table table-striped">
				            <thead>
				              <tr>
				              	<th>{{'label.id' | translate}}</th>
				                <th>{{'label.purchasedate' | translate}}</th>
				                <th>{{'label.suppliername' | translate}}</th>
				                <th>{{'label.officename' | translate}}</th>
				                <th>{{'label.itemdescription' | translate}}</th>
				                <th>{{'label.orderedquantity' | translate}}</th>
				                <th>{{'label.receivedquantity' | translate}}</th>
				                <th>{{'label.balancequantity' | translate}}</th>
				                <th>{{'label.status' | translate}}</th>
				                <th>{{'label.actions' | translate}}</th>
				              </tr>
				            </thead>
				            <tbody>
				              <tr class="pointer-main" ng-repeat="g in grn.currentPageItems | filter:filterText">
				              	<td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.id}}</td>
				                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.purchaseDate | DateFormat}}</td>
				                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.supplierName}}</td>
				                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.officeName}}</td>
				                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.itemDescription}}</td>
				                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.orderdQuantity}}</td>
				                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.receivedQuantity}}</td>
				                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.balanceQuantity}}</td>
				                <td class="pointer" data-ng-click="routeTogrn(g.id)" ng-show="g.orderdQuantity != g.receivedQuantity">Pending</td>
				                <td class="pointer" data-ng-click="routeTogrn(g.id)" ng-show="g.orderdQuantity == g.receivedQuantity">Completed</td>
				     		 	<td>
				     		 		<a ng-show="(g.orderdQuantity != g.receivedQuantity)" has-permission="UPDATE_INVENTORY" ng-click="editGrnQuantity(g)"
				                                 uib-popover="EditOrderQuantity" popover-trigger="mouseenter" class="fa fa-edit"></a>
				     		 	</td>
				     		 </tbody>
				          </table>
			       			<ul class="pager">
			        			<li class="previous"><a ng-click="grn.previous()" href="" ng-disabled="!grn.hasPrevious()">&larr; Prev</a></li>
			        			<li class="next" ><a ng-click="grn.next()" href="" ng-disabled="!grn.hasNext()">Next &rarr;</a></li>
			    			</ul>
			         </div>
			      </uib-tab>
                  
			      <uib-tab heading="{{'tab.itemtransfer' | translate}}" select="getMRNdetails()" active="mrnTab">
        		  		<div class="pull-right mrl15">
					          <a has-permission="CREATE_ITEMSALE"  href="#/itemsale/0" class="btn primary_btn">
					          		<i class="fa fa-plus"></i>{{'label.additemsale' | translate}}</a>
					          <a has-permission="CREATE_MRN" href="#/createmrn" class="btn primary_btn">
					          		<i class="fa fa-plus"></i>{{'label.addmaterialtransfer' | translate}}</a>
					          <a has-permission="MOVE_MRN" href="#/movemrn" class="btn primary_btn">
					          		<i class="fa fa-plus"></i>{{'label.moveitems' | translate}}</a>
			          		<a  href="#/uploadandprocessmrndetails" 
	          				class="btn btn1"><i class="fa fa-upload"></i>{{ 'button.uploadandprocess' | translate }}</a>
        				</div>
        				<div has-permission="'READ_MRN','MOVE_MRN'">
        				</div>
        				<div class="row-fluid"> <!-- has-permission="READ_MRN" -->
					        <form ng-submit="searchMRN(filterText)" style="margin:30px 0;">
						        <div class="col-md-4">
						        	<input ng-model="filterText" type="text" class="form-control mb20" placeholder="Enter text to search#">
						        </div>
						        
					        </form>
                            <div class="clear"></div>
                            <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                        
        					<table class="table table-striped">
					            <thead>
					              	<tr>
					              	     <th>{{'label.id' | translate}}</th>
						                <th>{{'label.requesteddate' | translate}}</th>
						                <th>{{'label.fromoffice' | translate}}</th>
						                <th>{{'label.tooffice' | translate}}</th>
						                <th>{{'label.itemdescription' | translate}}</th>
						                <th>{{'label.orderedquantity' | translate}}</th>
						                <th>{{'label.receivedquantity' | translate}}</th>
						                <th>{{'label.status' | translate}}</th>
					              	</tr>
					            </thead>
            					<tbody>
              						<tr class="pointer-main" ng-repeat="m in mrn.currentPageItems  | filter:filterText">
              						    <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:left" >{{m.id}}</td>
						                <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:left" >{{m.requestedDate | DateFormat}}</td>
						                <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:left">{{m.fromOffice}}</td>
						                <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:left">{{m.toOffice}}</td>
						                <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:left">{{m.itemDescription}}</td>
						                <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:left">{{m.orderdQuantity}}</td>
						                <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:left">{{m.receivedQuantity}}</td>
						                <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:left">{{m.status}}</td>
     		 					</tbody>
          					</table>
			       			<ul class="pager">
			        			<li class="previous"><a ng-click="mrn.previous()" href="" ng-disabled="!mrn.hasPrevious()">&larr; Prev</a></li>
			        			<li class="next" ><a ng-click="mrn.next()" href="" ng-disabled="!mrn.hasNext()">Next &rarr;</a></li>
			    			</ul>
         				</div>
      				</uib-tab>
      				<uib-tab heading="{{'tab.item' | translate}}" select="getItems()" active="itemsTab" >
                      		<div class=" pull-right mrl15"> 
        							<a has-permission="CREATE_ITEM" href="#/createitem" class="btn primary_btn">
        								<i class="fa fa-plus"></i>{{'label.create.new.item' | translate}}</a>
                  			</div>
                  			<div has-permission="READ_ITEM">
                  			</div>
                  			<div class="row-fluid">
                 				<form ng-submit="searchItems(filterText)" style="margin:30px 0;">
                 				<div class="col-md-5">
                   					<input ng-model="filterText" type="text" class="form-control mb20" placeholder="Enter text to search#">
                   				</div>
                   				</form>
                                <div class="clear"></div>
                                <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                                
	               				<table class="table table-striped">
									<thead>	
										<tr>
										  <th>{{'label.id' | translate}}</th>
				                          <th>{{'label.itemcode' | translate }}</th>
				                          <th>{{'label.itemdescription' | translate }}</th>
				                          <th>{{'label.units' | translate }}</th>
				                          <th>{{'label.total' | translate }}</th>
				                          <th>{{'label.warranty' | translate }}</th>
				                          <th>{{'label.useditems' | translate }}</th>
				                          <th>{{'label.balanced' | translate }}</th>
				                          <th>{{'label.isprovisioning' | translate }}</th>
				                          <th>{{'label.actions' | translate}}</th>
										</tr>
									</thead>
             	 					<tbody>
             		 					<tr class="pointer-main" ng-repeat="item in items.currentPageItems | filter:filterText"> 
					             		 	<td class="pointer" data-ng-click="routeToitem(item.id,item.totalItems)">{{item.id}}</td> 
					               			<td class="pointer" data-ng-click="routeToitem(item.id,item.totalItems)">{{item.itemCode}}</td>        
					                		<td class="pointer" data-ng-click="routeToitem(item.id,item.totalItems)">{{item.itemDescription}}</td> 
					                		<td class="pointer" data-ng-click="routeToitem(item.id,item.totalItems)">{{item.units}}</td>
					                		<td class="pointer" data-ng-click="routeToitem(item.id,item.totalItems)">{{item.totalItems}}</td>
					                		<td class="pointer" data-ng-click="routeToitem(item.id,item.totalItems)">{{item.warranty}}</td> 
					                		<td class="pointer" data-ng-click="routeToitem(item.id,item.totalItems)">{{item.usedItems}}</td>
					                		<td class="pointer" data-ng-click="routeToitem(item.id,item.totalItems)">{{item.availableItems}}</td>
											<td class="pointer" data-ng-click="routeToitem(item.id,item.totalItems)">{{item.isProvisioning}}</td>
					                		<td>
                								<a has-permission="UPDATE_ITEM" href="#/edititem/{{item.id}}/{{item.totalItems}}" 
                		                 			uib-popover="Edit Item" popover-trigger="mouseenter" class="fa fa-edit"></a>&nbsp;
                								<a  data-ng-click="showAudit(item.id,item.totalItems)" uib-popover="Show Audit" popover-trigger="mouseenter" 
					                				class="fa fa-list"></a> &nbsp; 
                								<a has-permission="DELETE_ITEM" ng-show="item.totalItems == 0"  data-ng-click="deleteItem(item.id)" 
                									uib-popover="Delete Item" popover-trigger="mouseenter"><i class="fa fa-times"></i></a>
                							</td>
             							</tr>
            						</tbody>
       							</table>
				       			<ul class="pager">
				        			<li class="previous"><a ng-click="items.previous()" href="" ng-disabled="!items.hasPrevious()">&larr; Prev</a></li>
				        			<li class="next" ><a ng-click="items.next()" href="" ng-disabled="!items.hasNext()">Next &rarr;</a></li>
				    			</ul>
    						</div>
    				</uib-tab>
	      			<uib-tab heading="{{'tab.itemmodel' | translate}}" select="getModelProvisionData()"  active="modelProvisionTab" >
	      				<div class=" pull-right mrl15"> 
      							<a has-permission = CREATE_MODELPROVISIONMAPPING href="#/createmodelprovisionmapping" class="btn primary_btn">
      								<i class="fa fa-plus"></i>{{'label.createitemmodel' | translate}}</a>
                  		</div>
                  		<div has-permission="READ_MODELPROVISIONMAPPING">
                  		</div>
						<div class="row-fluid">
							<form style="margin:30px 0;">
                 				<div class="col-md-5">
                   					<input ng-model="filterText" type="text" class="form-control mb20" placeholder="Enter text to search#">
                   				</div>
                   				</form>
                                <div class="clear"></div>
                                <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                                
							<table class="table table-striped">
			            		<thead>
				              		<tr>
					               		<th>{{'label.provision' | translate}}</th>
					               		<th>{{'label.model' | translate}}</th>
					               		<th>{{'label.itemtype' | translate}}</th>
					               		<th>{{'label.make' | translate}}</th>
					               		<th>{{'label.action' | translate}}</th>
				              		</tr>
			            		</thead>
			            		<tbody>
				              		<tr data-ng-repeat="modelProvisionData in modelProvisionDatas.currentPageItems  | filter:filterText">
					           			<td>{{modelProvisionData.provisioningName}}</td>
					           			<td>{{modelProvisionData.model}}</td>
					           			<td>{{modelProvisionData.itemType}}</td>
					           			<td>{{modelProvisionData.make}}</td>
					           			<td>        
						                	<a has-permission = UPDATE_MODELPROVISIONMAPPING href="#/editmodelprovisionmapping/{{modelProvisionData.id}}"
						                       uib-popover="Edit Model Provision" data-popover-trigger="mouseenter" class="fa fa-edit"></a>&nbsp;
							             	<a has-permission = DELETE_MODELPROVISIONMAPPING data-ng-click="deleteModelProvisionMapping(modelProvisionData.id)"
							                   uib-popover="Delete Contract" data-popover-trigger="mouseenter"><i class="fa fa-times"></i></a>
						                </td>
					                </tr>
			     		 	    </tbody>
		          	        </table>
	          	        </div>
					</uib-tab>
					<uib-tab heading="{{'tab.supplier' | translate}}" select="getsupplierdetails()" active="supplierTab"> 
					  <!-- CREATE_SUPPLIER -->
	        				<div class="pull-right mrl15">
	          					<a has-permission="CREATE_SUPPLIER" href="#/createsupplier" class="btn primary_btn">
	          						<i class="fa fa-plus"></i>{{ 'button.addsupplier' | translate }}</a>
	        				</div>
	        				<div has-permission="READ_SUPPLIER">
	        				</div>
	        				<div class="row-fluid" > <!-- has-permission="READ_SUPPLIER" -->
	        					<form ng-submit="searchSupplier(filterText)" style="margin:30px 0;">
	        					<div class="col-md-5">
	                   				<input ng-model="filterText" type="text" class="form-control mb20" placeholder="Enter text to search#">
	                   			</div>
	       						</form>
                                <div class="clear"></div>
                                <div class="borderMain">
                            <div class="borderBottom"></div>
                            <div class="borderTop"></div>
                    	</div>
                                
	        					<table class="table table-striped">
	            					<thead>
							              <tr>
							                <th>{{'label.suppliercode' | translate}}</th>
							                <th>{{'label.supplierdescription' | translate}}</th>
							                <th>{{'label.supplieraddress' | translate}}</th>
							                 <th>{{'label.actions' | translate}}</th>
							              </tr>
	            					</thead>
	            					<tbody>
							             <tr ng-repeat="su in supplier.currentPageItems  | filter:filterText">
							                <td>{{su.supplierCode}}</td>
							                <td>{{su.supplierDescription}}</td>
							                <td>{{su.supplierAddress}}</td>
							                <td><a ng-click="editSupplier(su.id)" uib-popover="Edit Supplier" popover-trigger="mouseenter" class="fa fa-edit"></a></td>
							   			</tr>
	     		 					</tbody>
	          					</table>
	          					<ul class="pager">
				        			<li class="previous"><a ng-click="supplier.previous()" href="" ng-disabled="!supplier.hasPrevious()">&larr; Prev</a></li>
				        			<li class="next" ><a ng-click="supplier.next()" href="" ng-disabled="!supplier.hasNext()">Next &rarr;</a></li>
	    						</ul>
	         			</div>
	      			</uib-tab>
			</uib-tabset>
		</div>
	</div>
    
	<script type="text/ng-template" id="EditProvSerial.html">
		<div class="modal-header silver">
        	<h3 class="bolder">{{'label.editprovisioningserialno' | translate }}</h3>
    	</div>
    	<div class="modal-body" style="height:160px;">
 			<api-validate></api-validate>
       		<fieldset>
 				<div class="form-group">
					<label class="control-label col-sm-4" for="quality">{{'label.provisionserialnum' | translate }}</label>
					<div class="col-sm-5">
             			<input type="text" id="serialnum" class="form-control" ng-model="provserialnum">
            		</div>
	  			</div><br>
				<div class="form-group">
					<label class="control-label col-sm-4" for="itemModel">{{'label.itemModel' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
              			<select ng-model="itemModel" class="form-control" ng-options="q.id as q.model for q in modelProvisionMappingData" 
							value="{{q.model}}"></select>
            		</div>
	   			</div><br>
    		</fieldset>
    	</div>
     	<div class="modal-footer">
        	<button id="cancel" class="btn btn-warning" ng-click="cancelQuality()">{{'button.cancel' | translate}}</button>
     		<button id="submit" class="btn btn-primary" ng-click="approveQuality(quality,provserialnum,itemModel)" 
				ng-disabled="flagEditQuality">{{'button.save' | translate}}</button>
     	</div>
	</script>
	<script type="text/ng-template" id="itemhistory.html">
      <div class="modal-header silver">
           <h3 class="bolder">Track History</h3>
       </div>
       <div class="modal-body" style="height:auto;width:600px;">
          <table class="table">
	            <thead>
	              <tr class="graybg">
	                <th>{{'table.reftype' | translate}}</th>
	                <th>{{'table.transactiondate' | translate}}</th>
	                <th>{{'table.movement' | translate}}</th>
	                <th>{{'table.fromoffice' | translate}}</th>
	                <th>{{'table.tooffice' | translate}}</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr ng-repeat="ih in itemhistory.currentPageItems  | filter:filterText">
	                <td>{{ih.refType}}</td>
	                <td>{{ih.transactionDate | DateFormat}}</td>
	                <td>{{ih.movement}}</td>
	                <td>{{ih.fromOffice}}</td>
	                <td>{{ih.toOffice}}</td>
					<tr/>
				  <tr><td colspan="5"><div data-ng-show="blockUI" class="offset3"><i class="icon-refresh icon-spin icon-large"></i>
					</div></td></tr>
	     		 </tbody>
          	   </table>
       </div>
       <div class="modal-footer">
            <button class="btn btn-primary" ng-click="accept()">Done</button>
        </div>
	</script> 
	<script type="text/ng-template" id="approvedelete.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete itemDetail</h3>
                    </div>
                    <div class="modal-body" style="height:60px;">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancelItem()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approveToDelete()">{{'button.save' | translate}}</button>
                    </div>
      </script>
    <script type="text/ng-template" id="EditQuality.html">
			<div class="modal-header silver">
        		<h3 class="bolder">Edit Quality</h3>
   		 	</div>
    		<api-validate></api-validate>
       		<fieldset>
       			<div class="form-group">
					<label class="control-label col-sm-4" for="quality">{{'label.quality' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
              			<select ng-model="quality"  class="form-control" 
							ng-options="q.mCodeValue as q.mCodeValue for q in qualityDatas" value="{{q.mCodeValue}}" required></select>
            		</div>
	   			</div><br><br>
 				<div class="form-group">
					<label class="control-label col-sm-4" for="provisioningSerialNumber">{{'label.provisionserialnum' | translate }}&nbsp;
						<span class="required">*</span></label>
					<div class="col-sm-4">
             			<input type="text" id="provisioningSerialNumber" class="form-control" ng-model="provserialnum">
            		</div>
				</div><br><br>
 				<div class="form-group">
					<label class="control-label col-sm-4" for="quality">{{'label.serialnumber' | translate }}&nbsp;<span class="required">*</span></label>
					<div class="col-sm-4">
             			<input type="text" id="serialNumber" class="form-control" ng-model="serialNumber">
            		</div>
	   			</div><br><br>
				<div class="form-group">
					<label class="control-label col-sm-4" for="itemModel">{{'label.itemModel' | translate }}<span class="required">*</span></label>
					<div class="col-sm-4">
              			<select ng-model="itemModel" class="form-control" ng-options="q.id as q.model for q in modelProvisionMappingData" 
							value="{{q.model}}"></select>
            		</div>
	   			</div><br><br>
    		</fieldset>
     		<div class="modal-footer">
        		<button id="cancel" class="btn btn-warning" ng-click="cancelQuality()">{{'button.cancel' | translate}}</button>
     			<button id="submit" class="btn btn-primary" ng-click="approveQuality(quality,provserialnum,itemModel,serialNumber)" 
					ng-disabled="flagEditQuality">{{'button.save' | translate}}</button>
     		</div>
	</script>
	<script type="text/ng-template" id="EditGRNQuality.html">
		<div class="modal-header silver">
        	<h3 class="bolder">Edit Ordered Quantity</h3>
    	</div>
    	<div class="modal-body" style="height:160px;">
 			<api-validate></api-validate>
       			<fieldset>
 					<div class="form-group">
						<label class="control-label col-sm-4" for="quality">{{'label.orderedquantity' | translate }}</label>
						<div class="col-sm-4">
             				<input type="text" id="serialnum" class="form-control" ng-model="formData.orderdQuantity">
            			</div>
	   				</div>
    			</fieldset>
    	</div>
     	<div class="modal-footer">
        	<button id="cancel" class="btn btn-warning" ng-click="cancelQuantity()">{{'button.cancel' | translate}}</button>
     		<button id="submit" class="btn btn-primary" ng-click="approvQuantity()">{{'button.save' | translate}}</button>
     	</div>
	</script>
	<script type="text/ng-template" id="editsuppliers.html">
		<form name="editsupplierform" class="form-horizontal" ng-submit="submit()">
	 		<api-validate></api-validate>
				<fieldset>
					<legend>{{'label.editsupplier' | translate}}</legend>
		  			<div class="form-group">
            			<label class="control-label col-sm-4" for="supplierCode">{{ 'label.code' | translate }}&nbsp;<span class="required">*</span></label>
            			<div class="col-sm-4">
              				<input type="text" id="supplierCode" name="supplierCode" ng-model="formData.supplierCode" class="form-control"
								data-ng-maxlength="{{'code' | CodeValidate}}"></br>
								<span data-ng-show = "editsupplierform.supplierCode.$dirty && editsupplierform.supplierCode.$invalid">
									<small class ="error-row">{{'error.suppliercode.definition.length.validation'| translate}}</small>
								</span>
            			</div>
          			</div>
          			<div class="form-group">
            			<label class="control-label col-sm-4" for="supplierDescription">{{ 'label.description' | translate }}&nbsp;
							<span class="required">*</span></label>
            			<div class="col-sm-4">
             		 		<input type="text" id="supplierDescription" class="form-control" ng-model="formData.supplierDescription">
            			</div>
          			</div>
          			<div class="form-group">
						<label class="control-label col-sm-4" for="supplierAddress">{{'label.address' | translate}}&nbsp;<span class="required">*</span></label>
						<div class="col-sm-4">
							<textarea rows="2" cols="2" class="form-control" ng-model="formData.supplierAddress"></textarea>
						</div>
		  			</div>
				</fieldset>
		</form>
   		<div class="modal-footer">
         		<button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
         		<button id="submit" data-ng-disabled="editsupplierform.$dirty && editsupplierform.$invalid" class="btn btn-primary" ng-click="accept()" 
					ng-disabled="flag">{{'label.save' | translate}}</button>
   		</div>
	</script>
	<script type="text/ng-template" id="deleteModelProvisionMapping.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete Model Provision Mapping</h3>
                    </div>
                    <div class="modal-body modal-small">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
      </script> 
</div>