<div class="content-container" ng-controller="CreateChannelMappingController"> 
	<ul class="breadcrumb">
	    <li>
			<a href="#/organization">{{'label.anchor.masters' | translate}}</a> 
			<span class="divider"></span>
		</li>
		<li>
		 	<a href="#/broadcasterchannelmapping">{{'label.broadcasterChannelMapping' | translate}}</a> 
		 	<span class="divider"></span>
		</li>
	    <li class="active">{{'label.createchannelmapping' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.createchannelmapping' | translate}}</h4>
			</div>
			<br>
				<form name="createchannelmappingform" novalidate="" class="form-horizontal" rc-submit="submit()">
					 <api-validate></api-validate>
					 <div class="error" data-ng-show="errorStatus || errorDetails" >
					     <label data-ng-show="errorStatus">{{errorStatus}}</label>
					     <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">
					               {{error.code | translate}}</label>
	                </div> 
	                <fieldset>
		                <div class="form-group">
				     		<label class="control-label col-sm-2" for="productId">{{'label.createchannelmapping.serviceid'| translate }}&nbsp;<span class="required">*</span></label>
					  		<div class="col-sm-3">
					   			<select id="productId" ng-model="formData.productId" ng-options="productData.id as productData.productCode for productData in productDatas" class="form-control">
					   				<option value="">{{'label.select.one' | translate}}</option>
					   			</select> 
				      		</div>
				 		</div>
				 		<div class="form-group">
			     			<label class="control-label col-sm-2" for="channelId">{{'label.createchannelmapping.channelid'| translate }}&nbsp;<span class="required">*</span></label>
				  			<div class="col-sm-3">
				   				<select id="channelId" ng-model="formData.channelId" ng-options="channelData.id as channelData.channelName for channelData in channelDatas" class="form-control">
				   					<option value="">{{'label.select.one' | translate}}</option>
				   				</select> 
			      			</div>
			 			</div>
			 			<div class="col-md-offset-10">
	            			<a href="#/broadcasterchannelmapping"><button id="cancel" type="reset" class="btn" ng-click="reset123()">{{'button.cancel'| translate}}</button></a>
	            			<button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
	          			</div>	
		            </fieldset>        
				</form>
		</div>
	</div>
</div>