<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li class="active">{{'label.anchor.manageschedulerjobs' | translate}}</li>
    </ul>
    <div class="card">
    	<div class="content">
    		<div ng-controller="SchedulerJobsController">
    		<div class="card mb15 pb20">
	            <div class="toolbar ptb15 mrl15 bb1 mb20">
	            	<h4 class="ptrbl0">{{'label.heading.schedulerjobs' | translate}}</h4>
	            </div>  
	        </div>
    		     <table class="table-condensed">
    		        <tr>
    		        <td>
    		           <h4 style="color:#000000">{{'label.heading.schedulerstatus' | translate}}:{{schedulerstatus}}</h4>
    		        </td>
    		            <!-- <td>
    		                <button class="btn btn-warning pull-right" ng-show="schedulerstatus=='Active'" ng-click="suspendJobs()" has-permission='UPDATE_SCHEDULER'>
    		                	<i class="fa fa-times pull-right"></i>{{'label.button.suspend' | translate}}</button>
    		           </td>
    		           <td>
    		            <button class="btn btn-success pull-right" ng-show="schedulerstatus=='Standby'" ng-click="activeJobs()" has-permission='UPDATE_SCHEDULER'>
    		                	<i class="fa fa-check-sign  pull-right"></i>{{ 'label.button.activate' | translate }}</button>
    		           </td> -->
    		           <div class="col-md-offset-4 pull-right">
	    		           <button class="btn btn-warning pull-right" ng-show="schedulerstatus=='Active'" ng-click="suspendJobs()" has-permission='UPDATE_SCHEDULER'>
	    		                <i class="fa fa-times pull-right"></i>{{'label.button.suspend' | translate}}</button>
	    		           
	    		           <button class="btn btn-success pull-right" ng-show="schedulerstatus=='Standby'" ng-click="activeJobs()" has-permission='UPDATE_SCHEDULER'>
	    		                <i class="fa fa-check-sign  pull-right"></i>{{ 'label.button.activate' | translate }}</button>
	    		            
	    		            <button class="btn btn-primary" ng-click="runSelectedJobs()">
	    		        		<i class="fa fa-play "></i>{{'label.button.runselectedjobs' | translate}}</button>
	    		            <button class="btn btn-primary" ng-click="refresh()"><i class="fa fa-repeat "></i>{{'label.button.refresh' | translate}}</button>
    		  
    		          </div>
    		        </tr>
    		    </table>
    		    <hr ng-show="sentForExecution"/>
    		    <table ng-show="sentForExecution" class="table-condensed">
    		        <tr  class="graybg" ng-show="sentForExecution">
    		            <th>{{'label.heading.jobssentforexecution' | translate}}<th>
    		        </tr>
    		        <tr ng-repeat="jobexecution in sentForExecution">
    		            <td><i class="fa fa-check "></i>{{jobexecution}}</td>
    		        </tr>
    		    </table>
    		    <hr ng-show="sentForExecution"/>
    		    <br ng-show="sentForExecution"/>
    		    <table class="table">
			        <thead>
			            <tr class="graybg">
			                <th><input type="checkbox" ng-model="activeall" ng-true-value="true" ng-false-value="false"
			                     ng-change="selectAll(activeall)">{{'label.selectall' | translate}}</th>
			                <th>{{'table.name' | translate}}</th>
			                <th>{{'table.status' | translate}}</th>
			                 <th>{{'table.active' | translate}}</th>
			                <th>{{'table.nextrun' | translate}}</th>
			                <th>{{'table.previousrun' | translate}}</th>
			                <th>{{'table.previousrunstatus' | translate}}</th>
			                <th>{{'table.currentstatus' | translate}}</th>
			                <th>{{'table.heading.actions' | translate}}</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr class="pointer-main" ng-repeat="job in jobs">
			                <td><input type="checkbox" ng-model="active" ng-true-value="true" ng-false-value="false"
			                     ng-change="runJobSelected(job, active)"></td>
			                <td class="pointer" data-ng-click="routeTo(job.jobId)">{{job.name}}</td>
			                <td class="pointer" data-ng-click="routeTo(job.jobId)">{{job.active}}</td>
			                <td><input type="checkbox" class="changeStatus" ng-model="job.active" id="changeStatus" ng-change="selectAll(job)"/></td>
			                <td class="pointer" data-ng-click="routeTo(job.jobId)">{{job.nextRunTime}}</td>
			                <td class="pointer" data-ng-click="routeTo(job.jobId)">{{job.lastRunHistory.jobRunEndTime}}</td>
			                <td class="pointer" data-ng-click="routeTo(job.jobId)">{{job.lastRunHistory.status}}</td>
			                <td class="pointer" data-ng-click="routeTo(job.jobId)">{{job.currentlyRunning | YesOrNo}}</td>
					        <td><a has-permission="UPDATE_SCHEDULERJOB" href="#/editschedulerjob/{{job.jobId}}" 
					        	style='color:#000000' uib-popover="Edit" popover-trigger="mouseenter" ><i class="fa fa-edit"></i></a>
			          		<!-- <td><a has-permission="UPDATE_SCHEDULERJOBPARAMETER" 
			          				ng-show="!(job.displayName == 'REQUESTOR' || job.displayName =='MESSAGING' || job.displayName =='EVENT_ACTIONS' || job.displayName =='AGINGDISTRIBUTION' )" 
			          					href="#/editjobparameters/{{job.jobId}}" style='color:#000000' uib-popover="Edit Job Parameter" popover-trigger="mouseenter">
			          				<i class="fa fa-book"></i></a></td> -->
			          		<a has-permission="UPDATE_SCHEDULERJOBPARAMETER" 
			          				ng-show="!(job.displayName == 'REQUESTOR' || job.displayName =='MESSAGING' || job.displayName =='EVENT_ACTIONS' || job.displayName =='AGINGDISTRIBUTION' )" 
			          					 ng-click="editJobParametrsPopUp(job.jobId)" uib-popover="Edit Job Parameter" popover-trigger="mouseenter">
			          				<i class="fa fa-book"></i></a>
			          		<a href="#/viewhistory/{{job.jobId}}" style='color:#3104B4' uib-popover="View History" popover-trigger="mouseenter">
			          			<i class="fa fa-search"></i></a></td>
			            </tr>
			        </tbody>
			    </table>
    		    <!-- <div class="col-md-offset-4">
    		        <button class="btn btn-primary" ng-click="runSelectedJobs()">
    		        	<i class="fa fa-play "></i>{{'label.button.runselectedjobs' | translate}}</button>
    		        <button class="btn btn-primary" ng-click="refresh()"><i class="fa fa-repeat "></i>{{'label.button.refresh' | translate}}</button>
    		    </div> -->
    		</div>
    	</div>
    </div>

	<script type="text/ng-template" id="approve1.html">
    	<div class="modal-header silver">
        	<h3 class="bolder">{{'dialog.invoice.title.job' | translate}}</h3>
        </div>
       	<div class="modal-body modal-big" style="height:270px;">
        	<div class="control-group col-sm-4">
				<div class="col-sm-4">
					<label class="control-label" style="color:red;" ng-show="error.length>0">{{error | translate}}</label>
				</div>	
			</div>
			<div class="form-group">
            	<label class="control-label col-sm-4">{{'label.job.reportname' | translate }}<span class="required">*</span></label>
                <div class="col-sm-4">
                    <select ng-model="formData.reportName"  ng-options="reportData.batchName as reportData.batchName for reportData in reportDatas" 
							value="{{office.id}}" ></select>
                 </div>
			 </div>
 			 <div class="form-group">
                <label class="control-label col-sm-4">{{ 'label.job.messagetemplate' | translate }}<span class="required">*</span></label>
                <div class="col-sm-4">
                  	<select ng-model="formData.messageTemplate"  ng-options="billingMessageData.templateDescription as billingMessageData.templateDescription for billingMessageData in billingMessageDatas" value="{{office.id}}">
                	</select>
                </div>
         	 </div>
          </div>
          <div class="modal-footer">
          		<button class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
          		<button class="btn btn-primary" ng-click="accept(start.date)" ng-disabled="flagapprove1">{{'label.confirm' | translate}}</button>
          </div>
      </script>
      <script type="text/ng-template" id="editjobparameters.html">
    	<div class="modal-header silver">
        	<h3 class="bolder">{{'label.editschedulerjobparameters' | translate}}</h3>
        </div>
       	<div class="modal-body modal-big">
        	
			<form class="form-horizontal" data-ng-submit="submit()">
    				<api-validate></api-validate>
					<fieldset>
						<div class="form-group" data-ng-show="formData.displayName !='RADIUS' && formData.displayName !='SIMULATOR' && formData.displayName !='EXPORTDATA' && formData.displayName !='RESELLERCOMMISSION'" >
							<label class="control-label col-sm-2">{{'label.reportname' | translate }}<span class="required">*</span></label>
							<div class="col-sm-3">
								<select data-ng-model="jobparameters.batchName" class="form-control"
									data-ng-options="reportData.batchName as reportData.batchName for reportData in reportDatas"
									data-value="{{office.id}}">
								</select>
							</div>
						</div>

						<div class="form-group" data-ng-show="formData.displayName =='INVOICING' || formData.displayName =='PDF' || formData.displayName =='EXPORTDATA' || formData.displayName =='RESELLERCOMMISSION'">
							<label class="control-label col-sm-2" for="startDate">{{'label.processdate' | translate }}</label>
							<div class="col-sm-3">
								<input type="text" data-datepicker-pop="dd MMMM yyyy" class="form-control"
									data-ng-model="date.processDate" data-is-open="opened2" min="minDate"
									max="'2020-06-22'" data-date-disabled="disabled(date, mode)" />
							</div>
						</div>

						<div class="form-group" data-ng-show="formData.displayName =='STATEMENT'">
							<label class="control-label col-sm-2" for="startDate">{{'label.duedate' | translate }}</label>
							<div class="col-sm-3">
								<input type="text" data-datepicker-pop="dd MMMM yyyy" class="form-control"
									data-ng-model="date.dueDate" data-is-open="opened2" min="minDate"
									max="'2020-06-22'" data-date-disabled="disabled(date, mode)" />
							</div>
						</div>
			
						<div class="form-group" data-ng-show="formData.displayName =='PDF'">
							<label class="control-label col-sm-2" for="promotionalMessage">{{'label.promotionalmessage' | translate}}</label>
							<div class="col-sm-3">
								<textarea rows="2" cols="2" class="form-control" data-ng-model="editJobFormData.promotionalMessage"></textarea>
							</div>
						</div>
						
						<div class="form-group" data-ng-show="formData.displayName =='MERGE_MESSAGE'">
							<label class="control-label col-sm-2">{{ 'label.messagetemplate' | translate }}<span class="required">*</span> </label>
							<div class="col-sm-3">
								 <select data-ng-model="jobparameters.messageTemplate" class="form-control"
									data-ng-options="billingMessageData.templateDescription as billingMessageData.templateDescription for billingMessageData in billingMessageDatas"
									data-value="{{office.id}}">
								</select> 
							</div>
						</div>

						<div class="form-group" data-ng-show="formData.name =='Auto Exipiry'">
							<label class="control-label col-sm-2" for="startDate">{{'label.exipirydate' | translate }}</label>
							<div class="col-sm-3">
								<input type="text" data-datepicker-pop="dd MMMM yyyy" class="form-control"
									data-ng-model="date.exipiryDate" data-is-open="opened2" min="minDate"
									max="'2020-06-22'" data-date-disabled="disabled(date, mode)" />
							</div>
						</div>
						
						<div class="form-group" data-ng-show="formData.displayName =='REPORTER'">
							<label class="control-label col-sm-2">{{ 'label.emailid' | translate }}<span class="required">*</span></label>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="jobparameters.emailId">
							</div>
						</div>
			
						<div class="form-group" data-ng-show="formData.displayName =='RADIUS'">             
			               <label class="control-label col-sm-2">{{ 'label.provsystem' | translate }}<span class="required">*</span></label>
			                <div class="col-sm-3">
			                  <select data-ng-model="jobparameters.provSystem"  class="form-control"
			                  	ng-options="provisionSystemData.billruleOptions as provisionSystemData.billruleOptions for provisionSystemData in provisionSysData" 
			                  		value="{{provisionSystemData.mCodeValue}}">
			                </select>
			                </div>   
			           </div>
			           
			           <div class="form-group" data-ng-show="formData.displayName =='RADIUS'">              
			               <label class="control-label col-sm-2">{{ 'label.url' | translate }}<span class="required">*</span></label>
			                <div class="col-sm-3">
			                <input type="text" class="form-control" data-ng-model="jobparameters.url">
			                </div>               
			           </div>
			           <div class="form-group" data-ng-show="formData.displayName =='RADIUS'">              
			                <label class="control-label col-sm-2">{{ 'label.username' | translate }}<span class="required">*</span></label>
			                <div class="col-sm-3">
			                <input type="text" class="form-control" data-ng-model="jobparameters.username">
			                </div>          
			           </div>
			           <div class="form-group" data-ng-show="formData.displayName =='RADIUS'">              
			                <label class="control-label col-sm-2">{{ 'label.password' | translate }}<span class="required">*</span></label>
			                <div class="col-sm-3">
			                <input type="text" class="form-control" data-ng-model="jobparameters.password">
			                </div>              
			           </div> 
           
						<div class="form-group" data-ng-show="formData.displayName =='SIMULATOR'">
							<label class="control-label col-sm-2">{{ 'label.updatestatus' | translate }}</label>
							<div class="col-sm-3">
								<label class="checkbox"> <input type="checkbox" data-ng-model="editJobFormData.isUpdateStatus"></label>
							</div>
						</div>
						
						<div class="form-group" data-ng-show="formData.displayName =='SIMULATOR'">
							<label class="control-label col-sm-2">{{ 'label.createticket' | translate }}</label>
							<div class="col-sm-3">
								<label class="checkbox"> <input type="checkbox" data-ng-model="editJobFormData.isCreateTicket"> </label>
							</div>
						</div>
						
						<div class="form-group" data-ng-hide="formData.displayName =='SIMULATOR'">
							<label class="control-label col-sm-2" for="isDynamic">{{'label.isdynamic' | translate }}</label>
							<div class="col-sm-3">
								<label class="checkbox"> <input type="checkbox" data-ng-model="editJobFormData.isDynamic">
								</label>
							</div>
						</div>
						<div class="form-group" data-ng-show="formData.name =='Auto Exipiry'">
							<label class="control-label col-sm-2" for="isDynamic">{{'label.isautorenewal' | translate }}</label>
							<div class="col-sm-3">
								<label class="checkbox"> <input type="checkbox" data-ng-model="editJobFormData.isAutoRenewal">
								</label>
							</div>
						</div>
						<div class="form-group" data-ng-show="formData.name =='Auto Exipiry'">
							<label class="control-label col-sm-2">{{ 'label.addon.exipiry' | translate }}</label>
							<div class="col-sm-3">
								<label class="checkbox"> <input type="checkbox" data-ng-model="editJobFormData.addonExipiry"></label>
							</div>
						</div>
				</fieldset>
			</form>
        </div>
          <div class="modal-footer">
          		<button class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
          		<button class="btn btn-primary" ng-click="editjobaccept()">{{'label.confirm' | translate}}</button>
          </div>
      </script>

</div>
